div.sampleWidgetContainer{
	padding-left:8px;
	border:1px solid blue;
}
.sampleWidgetContainer h1{
	background-color:transparent!important;
	padding-left:0px!important;
	margin-left:0px!important;
}

.sampleWidgetContainer textarea{
	margin-top:10px;
}

.sampleWidgetContainer .box{
	width:100px;
	height:100px;
	background-color:green;
	display:inline-block;
	margin-left:10px;
}