
*{
	font-family: Arial, Helvetica, sans-serif;
}



.headerTD {
	padding-top:10px;
	padding-bottom:10px;
	height:80px;
	}

.D3headerText {
		color:black;
		margin-top:20px;
		float:right;
		font-size:24px;
		font-style:italic;
		font-weight:bold;
		display:inline;
		}

.D3navBar {
	display:block;
	clear:both;
	background-color:#7dcf2c;
	margin-top:8px;
	height:12px;
	width:100%;
	}

.D3logoDiv {
	display:inline;
	}

.experimentsTable td {
	font-size:13px;
	}


.invPopupDiv {
	padding:10px 0px 15px 30px;
	}

.invPopupDiv h1 {
	line-heght:110%;
	margin-bottom:8px;
	}



.footerInfoTD {
	font-size:14px;
	border-top:2px solid black;
	padding-top:8px;
	text-align:center;
	}

	
input {
	padding:8px;
	}


.expireDiv{
	width:800px;
}
label{
display:block;
margin-top:7px;
}

.indexDiv, .indexDivTitle {
		width:600px;
		font-size:18px;
		padding-bottom:30px;
		margin-left:80px;
		margin-top:30px;
		}

.indexDivTitle H1 {
		font-weight:bold;
		font-size:40px;
		line-height:115%;
		}


/*
///// ADVANCED SEARCH
*/

#advancedSearchHolder .paren{
	font-size:20px;
	padding-left:2px;
	padding-right:2px;
	margin-top:2px;
	margin-left:2px;
}
#advancedSearchHolder .groupHolder{
	background-color:#aaa;
	margin-top:10px;
	padding:4px;
}
#advancedSearchHolder .fieldHolder{
	background-color:#ddd;
	display:inline-block;
	padding:8px;
	margin-left:10px;
}
#advancedSearchHolder select{
	margin-left:10px;
}
#advancedSearchHolder input{
	margin-left:10px;
}
#advancedSearchHolder img{
	width:16px;
	height:16px;
	border:none;
	margin-left:4px;
}
#advancedSearchHolder .endParenHolder{
	display:inline;	
}

.selectFromPopupText{
	display:block;
	padding:2px;
}

.selectFromPopupText.selected{
	border:2px solid #1EB242;
}
input,select{
			display:inline;
			margin-top:6px;
			/*margin-bottom:6px;*/
			padding:2px;
			}
.multiText img{
	width:16px;
	height:16px;
	margin-left:4px;
}
hr{
	margin:10px;
}


		#aNav{
			font-size:14px;
			padding-top:10px;
			}

		#aNav a{
			display:block;
			color:black;
			margin:10px 5px 10px 10px;
			font-weight:bold;
			text-decoration:none;
			}
		#aNav a:hover{
			color:black;
			text-decoration:underline;
			}

.experimentsTable a{
	color:#666;
	}

.experimentsTable a:hover{
	color:#666;
	}

.experimentsTable th {
	font-size:14px;
	}

