.caseTable {
	border:2px solid #c9c9c9;
	padding:0px!important;
	text-align:left;
}
.caseTable table{
	padding:0px!important;
}
.caseTableHeader{
	background-color:#c9c9c9;
	color:#cc2203;
	font-size:16px;
	font-weight:bold;
	padding:5px 0px 5px 4px!important;
}
.caseTableHeader a{
	background-color:#cc2203;
	padding:2px 6px 2px 6px!important;
	font-size:12px;
	color:#fff!important;
	border:1px solid #fff;
	text-decoration:none;
}
.caseTable table td{
	padding:2px;
}
.caseInnerTitle{
	font-size:12px;
	font-weight:bold;
	background-color:#eee;
	border:1px solid white;
	padding:2px 10px 2px 4px!important;
}
.caseInnerData{
	font-size:12px;
	border:1px solid white;
	padding:2px 10px 2px 4px!important;
	font-family:Arial,Helvetica,sans-serif;
	color:#4F5156;
}
.caseTable textarea{
	height:300px;
	font-size:12px;
	font-family:Arial,Helvetica,sans-serif;
	color:#4F5156;
}
.caseTable input,select{
	font-size:12px;
	font-family:Arial,Helvetica,sans-serif;
	color:#4F5156;
}
.caseSearchResultTD{
	font-size:12px;
	padding:2px 10px 2px 4px!important;
}

#statusEdit{
	font-size:12px;
	font-family:Arial,Helvetica,sans-serif;
	color:#4F5156;
}
#statusEdit select option{
	padding-right:10px;
}
.tabs ul{
    list-style-type:none;
}

.unitsDiv{
	position:absolute;
	background-color:white;
	border:2px solid gray;
	color:black;
	z-index:100;
	padding:0px;
	margin:0px;
	top:8px;
}

.unitsDiv ul{
	list-style-type:none;
	margin-left:0px;
	padding:0px;
	margin:0px;
}

.unitsDiv a{
	display:block;
	/*width:20px;*/
	text-align:right;
	text-decoration:none;
	padding:0 8px 0px 8px;
	border:0px;
	cursor:none;

}

.unitsDiv li a:hover{
	background-color:#ccc;
}

.unitsDiv a.selectedLink{
	background-color:#ccc;
}



/*
///////////// USER BLOCK
*/

.userData {
	float:right;
	/*display:inline;*/
	padding:4px;
	width:200px;
	height:90px;
	line-height:110%;
	}

.userData form{
	display:none;
	}

.userData .userName {
	font-size:14px;
	color:blue;
	font-weight:bold;
	}
.userData .userCompany {display:block;font-size:12px;}
.userData .userTitle {display:inline;font-size:10px;}
.userData .userPhone {display:inline;font-size:10px;}
.userData .userEmail {display:inline;font-size:10px; padding-left:10px;}
.userData .userIcons {display:block;font-size:10px; padding-left:10px;}