



#nav * {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	}


#nav{
	float: right;
	display: inline;
	font-weight: bold;
	margin-top: 0px;
	width: 970px;
	}

#nav ul#topNav{
	float: right;
	}

#nav, #nav ul {
	list-style: none;
	}
#topNav a {
	text-align: center;
	display: block;
	padding-top: 10px;
	height: 28px;
	width:164px;
	text-decoration: none;
	color: #fff;
	font-weight: bold;

/*	border-top: 5px solid white; */

}

#topNav a:hover {
color:#000;
background-color:#fff;
background-image:url(/images/bg_topNav.gif);
background-repeat:repeat-x;

/* border-top-color: #0583CC;
   background-color: #d9dee1;
   background-color: #5b707c; */

}




#nav li {
	float: left;
	margin: 0;
	}

#nav li:hover, #menu li.hover {  
/*FIX FOR IE7 POPUP STICK ISSUE */
    position: static;  
}  

#nav li:hover a {  
/* KEEPS HOVER AFFECT ON ROLLOVER */
	color:#000;
	background-color:#fff;
	background-image:url(/images/bg_topNav.gif);
	background-repeat:repeat-x;
	}  


#nav li:hover li a {  
/* KEEPS HOVER AFFECT ONLY ON TOP ROLLOVER */
	color: #000;
	background-color:#fff;
	background-image:none;
	
	}  




#nav li ul {
	position: absolute;
	left: -999em;
	z-index: 5;
}

#nav li ul li{
	clear: both;
}

#topNav a.topNavOn {
	color: #121d22;
	background-color:#fff;
	background-image:url(/images/bg_topNav.gif);
	background-repeat:repeat-x;
	}



/*##############################################################*/
/* FIRST LEVEL NAV POPUPS */
/*##############################################################*/

#nav li ul li a{
	display: block;
	font-size:12px;
	width: 150px;
	padding-left: 14px;
	text-align: left;
	height: auto;
	background-color: #cfcfcf;
	color: #5b707c;
	padding-bottom: 4px;
	padding-top: 4px;
	font-weight:bold;
	border-top:3px solid #dddddd;
	/*filter:alpha(opacity=95);
	-moz-opacity:0.95;
	opacity: 0.95;*/
	}

#nav li ul li a.top {
	border-top: 4px solid #89d22d;
	}

#nav li ul li a.bottom {
	border-bottom:4px solid #89d22d;
	}



#nav li ul li a:hover{
	background-color: #dddddd;
	/*filter:alpha(opacity=95);
	-moz-opacity:0.95;
	opacity: 0.95;*/
	}

#nav li:hover ul {
	left: auto;
	}

#nav li:hover ul, #nav li.sfhover ul {
	left: auto;
	}

#nav .rightBorder {
	background-image: url(/images/onepixwhit.gif);
	background-repeat: no-repeat;
	background-position: 100% 2px;
	}

#nav li ul ul { /* third-and-above-level lists */
	margin: -1em 0 0 10em;
	}

#nav li ul li ul li a {
	/* third-and-above-level lists */
	color: #000;
}



#nav li:hover ul ul, #nav li.sfhover ul ul {
	left: -999em;
}

#nav li:hover ul, #nav li li:hover ul, #nav li.sfhover ul, #nav li li.sfhover ul {
	/* lists nested under hovered list items */
	left: auto;
}

