* {
	margin:0;
	padding:0;
	}

body {
	background-color: #ffffff;	
	font-family: Arial, Helvetica, sans-serif;
	line-height: 130%;
	background-color:#cfcfcf;

	}

.containerDiv {
	width:1140px;
	background-color: white;
	background-image:url(/images/bg_bod.jpg);
	background-repeat:repeat-x;
	margin-right: auto;
	margin-left: auto;
	}

.outerDiv {

		}

.topDiv {
	padding: 0 0 0 0;
	width:970px;
	margin-left:auto;
	margin-right:auto;
	height:123px;
	}	

.logoDiv {
	height:74px;
	width:700px;
	float: left;
	margin-top:10px;
	margin-bottom:1px;
	}


.persNav {
	float:right;
	width:200px;
	height:20px;
	font-size:11px;
	margin-top:15px;
	text-align:right;
	padding-right:20px;
	letter-spacing:1px;
	}

.persNav a {
	text-decoration:none;
	color:#121d22;
	}

.persNav a:hover {
	text-decoration:underline;
	}


/* HOME STUFF  ############################################################################### */

.homeContent {
	width:920px;
	height:295px;
	padding:30px 20px 0 15px;
	margin-left:80px;
	}

.homeContentText {
	width:600px;
	}


.homeContentText p {
	margin-top:12px;
	font-size:18px;
	color:#cfcfcf;
	}

.homeContentText a {
	color:white;
	text-decoration:none;
	}


.homeContentText a:hover {
	text-decoration:underline;
	color:white;
	}


.homeContent2 {
	
	width:1000px;
	height:200px;
	padding:25px 40px 0 15px;
	margin-left:auto;
	margin-right:auto;

	}

.homeContent H1 {
	font-size:32px;
	line-height:125%;
	color:#fff;
	line-height:auto;
	}

.homeBoxes {
		font-size:12px;
		float:right;
		display:inline;
		width:280px;
		height:auto;
		padding:10px;
		margin:0 25px 0 0;

		}

a.requestDemo {
		margin-top:15px;
		color:black;
		float:right;
		width:240px;
		height:78px;
		padding-top:15px;
		padding-left:60px;
		background-image:url(/images/download-button.png);
		text-decoration:none;
		font-weight:bold;
		}

a.requestDemo:hover {
	background-position: -300px 0;
	color:black;
	text-decoration:none;
	}


/* CONTENT STRUCTURE STUFF  ###############################################################################  */


.contentTable {
	border-collapse:collapse;
	width:1040px;
	clear:both;
	background-color:#fff;
	margin-left:auto;
	margin-right:auto;
	
	}

.pageContentTD {
	width:800px;
	}

.pageNavTD {
	width:170px;
	}


/* PAGE CONTENT FONT CONTROL ###############################################*/

.pageContent {
	padding: 20px 18px 20px 20px;
	font-size: 12px;

}

.pageContent H1 {
/*	font-family: "Lucida Sans Unicode", Geneva, sans-serif; */
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 18px;
	font-weight: bold;
	color:#333333;	
}



.pageContent H2 {
	font-weight: bold;
	font-size: 16px;
	margin-top:8px;
	color:#333333;		
}

.pageContent H3 {
	font-weight: bold;
	font-size: 13px;
	margin-top:8px;
	color:#333333;		
}


.pageContent p {
  margin-top: 8px;
  margin-bottom: 12px;
}


.pageContent ul {
  margin-top: 8px;
  margin-bottom: 12px;
  margin-left: 30px;
  list-style: square;
}

.pageContent a {
	text-decoration: underline;
	color: #4F5156;
}

.pageContent a:hover {
  color: #124F75;
}

.pageContent a:visited {
	color: #4F5156;
}


/* INNER NAV CONTENT STYLES  ###############################################################################  */

.pageNav {
	font-size: 12px;
	color:#ffffff;
	font-weight:bold;
	padding:20px 8px 20px 20px;

	}

.pageNav ul {
	margin-top:2px;
	margin-bottom:4px;
	}

.pageNav ul ul {
	margin-top:8px;
	margin-bottom:4px;
	}


.pageNav li  {
	margin-left:8px;
	list-style:none;
	}

.pageNav  ul li a {
	font-size:16px;
	text-decoration: none;
	height: auto;
	list-style:none;
	margin: 2px 0;
	color: #121d22;
	}

.pageNav li ul li a {
	display:block;
	font-size:12px;
	padding-left:13px;
	padding-bottom:8px;
	line-height:130%;
	color:#666666;
	font-weight:bold;
	text-decoration: none;

	}

.pageNav li ul li a:hover {
	color: #121d22;
	background-image:url(/images/navNugget.gif);
	background-repeat:no-repeat;
	}

.pageNav li ul li a.navSelected {
	color: #121d22;
	background-image:url(/images/navNugget.gif);
	background-repeat:no-repeat;
	}

/* FORM STUFF   ################################################################################  */

.homeLogin {
float:right;
width:260px;
height:170px;
padding:10px 20px;
background-image:url(/images/home-login-bg.png);
background-repeat:no-repeat;
margin-left:30px;
margin-top:20px;

}


.chunkyFormLI {
	font-size:12px;
	margin:25px 0 0 0;
	}



.chunkyFormLI input {
	display:block;
	margin:2px 0 0 12px;
	padding:4px;
	color:#333333;
	font-family:arial, helvetica, sans;
	font-size:12px;
	font-weight:bold;
	line-height:16px;
	width:150px;
	}

.chunkyFormLI label {
		margin-right:8px;
		float:left;
		display:block;
		text-align:right;
		width:75px;
		font-size:12px;
		font-weight:bold;
	}

.chunkyFormLI select {
	
	margin:15px 0 20px 12px;
	padding:3px;
	color:#333333;
	font-family:arial, helvetica, sans;
	font-size:12px;
	font-weight:bold;
	line-height:16px;
	}

.chunkyFormLI option {
	padding:1px;
	line-height:16px;
	}


.chunkyFormLI input.btn {
	background:url(/images/button-background.jpg) bottom;
	font:15px arial,sans-serif;
	font-weight:bold;
	border:none;
	color:#333;
	cursor:pointer;
	height:30px;
	margin-top:15px;
	outline:0;
	vertical-align:top
	background:#eee;
	border:solid 1px;
	border-color:#ccc #999 #999 #ccc;
	height:30px;
	display:block;
	width:120px;
	}


/* APP FORM STUFF   ################################################################################  */

.chunkyForm {
	font-size:12px;
	margin:25px;
	}

.chunkyForm input {
	display:block;
	margin:2px 0 12px 12px;
	padding:4px;

	color:#333333;

	font-family:arial, helvetica, sans;
	font-size:12px;
	font-weight:bold;
	line-height:16px;

	width:200px;
	}

.chunkyForm label {
		margin:0;
		font-size:14px;
		font-weight:bold;
	}

.chunkyForm select {
	
	margin:15px 0 20px 12px;
	padding:4px;

	color:#333333;

	font-family:arial, helvetica, sans;
	font-size:12px;
	font-weight:bold;
	line-height:16px;
	}

.chunkyForm option {
	padding:4px;
	line-height:16px;
	}


.chunkyForm input.btn {
	background:url(/images/button-background.jpg) bottom;
	font:15px arial,sans-serif;
	font-weight:bold;
	border:none;
	color:#333;
	cursor:pointer;
	height:30px;
	margin:0;
	outline:0;
	vertical-align:top
	background:#eee;
	border:solid 1px;
	border-color:#ccc #999 #999 #ccc;
	height:30px;
	display:block;
	width:120px;
	}

/* FOOTER STUFF  ###############################################################################  */

.footerDiv {
	font-size: 10px;
	color: #666666;
	text-align: left;
	width:1140px;
	height: 140px;
	padding: 15px 0 0 0;
	background-image:url(/images/bg_foot.png);
	background-repeat:repeat-x;
	}

.footerContent {
	width:1000px;
	margin-left:auto;
	margin-right:auto;
/*	background-image:url(/images/bg_foot_seps.png);
	background-repeat:repeat-y; */
	height:100px;
	}

.footerText {
	float:right;
	width:220px;
	color:white;
	margin-right:50px;
	}

.footerText ul {
	padding-left:20px;
	}





.footerCopyRight {
	background-color:#121d22;
	width:1140px;
	margin-left:auto;
	margin-right:auto;
	}

.footerCopyRightText {
	margin-left:auto;
	margin-right:auto;
	color:#fff;
	height:24px;
	width:900px;
	font-size:11px;
	padding:8px;
	}



input {
	display: block;
	}

textarea {
	display: block;
}

.loginMediumContentBoxContent {
    padding: 0;
    border-left: 1px solid rgb(217,217,217);
    border-right: 1px solid rgb(217,217,217);
    border-bottom: 1px solid rgb(217,217,217);
    position: relative;
    overflow: hidden;
    width: 385px;
}
.loginMediumContentBoxHeader {
    background: rgb(233,233,233);
    color: #000;
    padding: 0px 15px;
    font-weight: 300;
    font-size: 21px;
    border: 1px solid rgb(221, 221, 221); 
    border-bottom: 1px solid #CECECE;
    border-radius: 4px 4px 0 0;

    text-align: left;
}
.loginMediumContentBoxContainer {
    width: 387px; 
    display: inline-block;
    vertical-align: top;
    margin-bottom:13px;
}
.mediumContentBoxLinkDescription {
    /* background: rgb(237, 237, 237); */
    padding: 7px 16px 16px 27px;
    border-top: 1px solid rgb(209, 209, 209);
    -webkit-box-shadow: inset 0 1px 7px -2px #BFBFBF;
    box-shadow: inset 0 1px 7px -2px #BFBFBF;
}
.loginMediumContentBoxContent a {
    padding: 8px 10px 7px 10px;
    display: block;
    text-decoration: none;
    color: rgb(34, 76, 187);
    border-top: 1px solid #fff;
    width: 303px;
}
.needsMasonryLayout{
    width: 830px;
    padding-top: 28px;
    padding-left: 20px;
    padding-bottom: 12px;
}

.needsMasonryLayout.shortPaddingTop {
    padding-top: 10px;
}

.loginMediumContentBoxHeaderText {
    display: inline-block;
    padding-top: 6px;
    padding-bottom: 6px;
    line-height: 25px;
}

.loginMediumContentBoxHeaderAddButton {
    display: inline-block;
    padding: 6px 12px;
    background: rgb(219, 219, 219);
    cursor: pointer;
    float: right;
    font-size: 18px;
    line-height: 25px;
    -webkit-transition: background-color 80ms linear;     
    -moz-transition: background-color 80ms linear;     
    -o-transition: background-color 80ms linear;     
    -ms-transition: background-color 80ms linear;     
    transition: background-color 80ms linear;
}

.mediumContentBoxHeaderInsertButton{
    display: inline-block;
    padding: 6px 12px 6px 38px;
    cursor: pointer;
    float: right;
    font-size: 18px;
    line-height: 25px;
    -webkit-transition: background-color 80ms linear;     
    -moz-transition: background-color 80ms linear;     
    -o-transition: background-color 80ms linear;     
    -ms-transition: background-color 80ms linear;     
    transition: background-color 80ms linear;
    background-image: url('../images/download_box_3.png');
    background-size: 32px 32px;
    background-repeat: no-repeat;
    background-position-x: 6px;
    background-position-y: 2px;   
    background-color: rgb(219, 219, 219);
}

.loginMediumContentBoxHeaderAddButton:hover, .mediumContentBoxHeaderInsertButton:hover {
    background-color: #F6F6F6;
}

.loginMediumContentBoxContent:hover .mediumContentBoxContentDeleteButton {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
}

.loginMediumContentBoxContentDeleteButton:hover {
    background-color: rgb(255, 19, 0);
}

form.loginForm .formRow.loginUserName label {
    font-size: 18px;
}

form.loginForm .formRow.loginPassword label {
    font-size: 18px;
}

form.loginForm .formRow.loginCompany label {
    font-size: 18px;
}

form.loginForm .formRow.loginUserName input {
    font-size: 16px;
    padding: 5px;
    width: 204px;
}

form.loginForm .formRow.loginPassword input {
    font-size: 16px;
    padding: 5px;
    width: 204px;
}

form.loginForm .formRow.loginCompany select {
    width: 214px;
    
}

button#login-submit {
    /* background: rgb(168, 168, 168); */
}

.loginButtonContainer {
    background: initial;
    border-top: 1px solid rgb(228, 228, 228);
    padding: 7px;
}

.loginButtonContainer button {
    font-size: 16px;
    padding: 8px 23px;
    margin-right: 12px;
    border: none;
    color: #343434;
    -webkit-transition: background-color 80ms linear, border-color 80ms linear, color 80ms linear;
    -moz-transition: background-color 80ms linear, border-color 80ms linear, color 80ms linear;
    -o-transition: background-color 80ms linear, border-color 80ms linear, color 80ms linear;
    -ms-transition: background-color 80ms linear, border-color 80ms linear, color 80ms linear;
    transition: background-color 80ms linear, border-color 80ms linear, color 80ms linear;
    cursor: pointer;
    background: transparent;
    border: 2px solid rgb(164, 164, 164);
    border-radius: 17px;
    -webkit-border-radius: 17px;
    text-shadow: none;
}
.loginButtonContainer button:hover {
    background: #29C0C0;
    border-color: #29C0C0;
    color: white;
}

.loginPageRightSide .loginMediumContentBoxContainer {
    width: 370px;
    margin-bottom: 0;
}

.loginPageRightSide .loginMediumContentBoxContent {
    width: 368px;
}

.loginPageLeftSideBox {
    padding-top: 20px;
    padding-bottom: 0;
    height: 209px;
    vertical-align: bottom;
    border: 1px solid rgb(217,217,217);
    box-sizing: border-box;
}

.loginPageLeftSide {
    height: 209px;
}

.loginPageLeftSideText {
    font-size: 35px;
    line-height: 39px;
    vertical-align: top;
    padding-top: 4px;
}

.loginPageLeftSideBox .iconSet {
    vertical-align: top;
}

	
