* {
	margin:0;
	padding:0;
	}

body {
	background-color: #2a4652;	
	background-image: url(../images/page-background2.jpg); background-repeat: repeat-x;
	font-family: Lato, Arial, Helvetica, sans-serif;
	line-height: 130%;
	background-color: #EBEBEB;

	height: 100%;
	min-width: 970px;
	/* overflow-y: scroll; */
}

.containerDiv {
	width: auto;
	background-color: transparent;
	/* background-image: url(http://arxspan.com/images/page-background2.jpg); */
	/* background-repeat:repeat-x; */
	margin-right: auto;
	margin-left: auto;
	/* height: 100%; */
	overflow-y: auto;
}

.outerDiv {

		}

.topDiv {
	padding: 0 0 0 0;
	width: auto;
	margin-left:auto;
	margin-right:auto;
	height: auto;
	background: #fff;
	border-bottom: 1px solid rgb(213, 213, 213);
}	

.logoDiv {
	height: auto;
	width: auto;
	display: inline-block;
	min-width: 49%;
	padding-top: 10px;
	padding-bottom: 10px;
}


.persNav {
	float:right;
	width:200px;
	height:20px;
	font-size:11px;
	margin-top:15px;
	text-align:right;
	padding-right:20px;
	letter-spacing:1px;
	}

.persNav a {
	text-decoration:none;
	color:#121d22;
	}

.persNav a:hover {
	text-decoration:underline;
	}


/* HOME STUFF  ############################################################################### */

.homeContent {
	width: auto;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	max-width: 1480px;
	margin-top: 29px;
	text-align: center;
	margin-bottom: 40px;
}


.homeContentText {
	display:inline;
	width:600px;
	height:275;
	}


.homeContentText p {
	margin-top:12px;
	font-size:18px;
	color:#cfcfcf;
	}

.homeContentText a {
	color:white;
	text-decoration:none;
	}


.homeContentText a:hover {
	text-decoration:underline;
	color:white;
	}


.homeContent2 {
	
	width:1000px;
	height:205px;
	padding:10px 40px 15px 15px;
	margin-left:auto;
	margin-right:auto;

	}

.homeContent H1 {
	font-size:32px;
	line-height:125%;
	color:#fff;
	line-height:auto;
	}

.homeBoxes {
		font-size:12px;
		float:right;
		display:inline;
		width:280px;
		height:auto;
		padding:10px;
		margin:0 25px 0 0;

		}

a.requestDemo {
		margin-top:15px;
		color:black;
		float:right;
		width:240px;
		height:78px;
		padding-top:15px;
		padding-left:60px;
		background-image:url(/images/download-button.png);
		text-decoration:none;
		font-weight:bold;
		}

a.requestDemo:hover {
	background-position: -300px 0;
	color:black;
	text-decoration:none;
	}


/* CONTENT STRUCTURE STUFF  ###############################################################################  */


.contentTable {
	border-collapse:collapse;
	width:1040px;
	clear:both;
	background-color:#fff;
	margin-left:auto;
	margin-right:auto;
	
	}

.pageContentTD {
	width:800px;
	}

.pageNavTD {
	width:170px;
	}


/* PAGE CONTENT FONT CONTROL ###############################################*/

.pageContent {
	padding: 20px 18px 20px 20px;
	font-size: 12px;

}

.pageContent H1 {
/*	font-family: "Lucida Sans Unicode", Geneva, sans-serif; */
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 18px;
	font-weight: bold;
	color:#333333;	
}



.pageContent H2 {
	font-weight: bold;
	font-size: 16px;
	margin-top:8px;
	color:#333333;		
}

.pageContent H3 {
	font-weight: bold;
	font-size: 13px;
	margin-top:8px;
	color:#333333;		
}


.pageContent p {
  margin-top: 8px;
  margin-bottom: 12px;
}


.pageContent ul {
  margin-top: 8px;
  margin-bottom: 12px;
  margin-left: 30px;
  list-style: square;
}

.pageContent a {
	text-decoration: underline;
	color: #4F5156;
}

.pageContent a:hover {
  color: #124F75;
}

.pageContent a:visited {
	color: #4F5156;
}


/* INNER NAV CONTENT STYLES  ###############################################################################  */

.pageNav {
	font-size: 12px;
	color:#ffffff;
	font-weight:bold;
	padding:20px 8px 20px 20px;

	}

.pageNav ul {
	margin-top:2px;
	margin-bottom:4px;
	}

.pageNav ul ul {
	margin-top:8px;
	margin-bottom:4px;
	}


.pageNav li  {
	margin-left:8px;
	list-style:none;
	}

.pageNav  ul li a {
	font-size:16px;
	text-decoration: none;
	height: auto;
	list-style:none;
	margin: 2px 0;
	color: #121d22;
	}

.pageNav li ul li a {
	display:block;
	font-size:12px;
	padding-left:13px;
	padding-bottom:8px;
	line-height:130%;
	color:#666666;
	font-weight:bold;
	text-decoration: none;

	}

.pageNav li ul li a:hover {
	color: #121d22;
	background-image:url(/images/navNugget.gif);
	background-repeat:no-repeat;
	}

.pageNav li ul li a.navSelected {
	color: #121d22;
	background-image:url(/images/navNugget.gif);
	background-repeat:no-repeat;
	}

/* FORM STUFF   ################################################################################  */

.homeLogin {
width: auto;
height: auto;

display: inline-block;
border: 1px solid rgb(223, 223, 223);
}


.chunkyFormLI {
	font-size:12px;
	margin:25px 0 0 0;
	}



.chunkyFormLI input {
	display:block;
	margin:2px 0 0 12px;
	padding:4px;
	color:#333333;
	font-family:arial, helvetica, sans;
	font-size:12px;
	font-weight:bold;
	line-height:16px;
	width:150px;
	}

.chunkyFormLI label {
		margin-right:8px;
		float:left;
		display:block;
		text-align:right;
		width:75px;
		font-size:12px;
		font-weight:bold;
	}

.chunkyFormLI select {
	
	margin:15px 0 20px 12px;
	padding:3px;
	color:#333333;
	font-family:arial, helvetica, sans;
	font-size:12px;
	font-weight:bold;
	line-height:16px;
	}

.chunkyFormLI option {
	padding:1px;
	line-height:16px;
	}


.chunkyFormLI input.btn {
	background:url(/images/button-background.jpg) bottom;
	font:15px arial,sans-serif;
	font-weight:bold;
	border:none;
	color:#333;
	cursor:pointer;
	height:30px;
	margin-top:15px;
	outline:0;
	vertical-align:top;
	background:#eee;
	border:solid 1px;
	border-color:#ccc #999 #999 #ccc;
	height:30px;
	display:block;
	width:120px;
	}


/* APP FORM STUFF   ################################################################################  */

.chunkyForm {
	font-size:12px;
	margin:25px;
	}

.chunkyForm input {
	display:block;
	margin:2px 0 12px 12px;
	padding:4px;

	color:#333333;

	font-family:arial, helvetica, sans;
	font-size:12px;
	font-weight:bold;
	line-height:16px;

	width:200px;
	}

.chunkyForm label {
		margin:0;
		font-size:14px;
		font-weight:bold;
	}

.chunkyForm select {
	
	margin:15px 0 20px 12px;
	padding:4px;

	color:#333333;

	font-family:arial, helvetica, sans;
	font-size:12px;
	font-weight:bold;
	line-height:16px;
	}

.chunkyForm option {
	padding:4px;
	line-height:16px;
	}


.chunkyForm input.btn {
	background:url(/images/button-background.jpg) bottom;
	font:15px arial,sans-serif;
	font-weight:bold;
	border:none;
	color:#333;
	cursor:pointer;
	height:30px;
	margin:0;
	outline:0;
	vertical-align:top
	background:#eee;
	border:solid 1px;
	border-color:#ccc #999 #999 #ccc;
	height:30px;
	display:block;
	width:120px;
	}

/* FOOTER STUFF  ###############################################################################  */

.footerDiv {
	font-size: 10px;
	color: #666666;
	text-align: left;
	width:1140px;
	height: 140px;
	padding: 15px 0 0 0;
	background-image:url(/images/bg_foot.png);
	background-repeat:repeat-x;
	}

.footerContent {
	width:1000px;
	margin-left:auto;
	margin-right:auto;
/*	background-image:url(/images/bg_foot_seps.png);
	background-repeat:repeat-y; */
	height:100px;
	}

.footerText {
	float:right;
	width:220px;
	color:white;
	margin-right:50px;
	}

.footerText ul {
	padding-left:20px;
	}





.footerCopyRight {
	background-color: rgba(138, 138, 138, 0.86);
	width: 100%;
	margin-left:auto;
	margin-right:auto;
	text-align: center;
	position: fixed;
	bottom: 0;
}

.footerCopyRightText {
	margin-left:auto;
	margin-right:auto;
	color:#fff;
	height:24px;
	line-height: 24px;
	width:900px;
	font-size: 14px;
	padding:8px;
	}



input {
	display: block;
	}

textarea {
	display: block;
}



.loginMaintenance{
	background-color:white;
	border:5px solid black;
	font-size:12px;
	font-weight:bold;
	height:86px;
	width:215px;
	padding:10px;
}

.loginHeaderText {
    font-size: 32px;
    font-weight: 300;
    display: inline-block;
    vertical-align: top;
    line-height: 82px;
    min-width: 49%;
    text-align: right;
}
.topDivInner {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}
.homeLogin div.userLoginTopText {
    font-size: 24px;
    display: inline-block;
}
.loginForm {
    padding-top: 4px;
    
    background: #fff;
}

form.loginForm .formRow label {
    font-size: 21px;
    min-width: 121px;
    display: inline-block;
    text-align: right;
    margin-right: 10px;
    line-height: 24px;
    margin-top: 18px;
}
.loginForm .formRow input {
    font-size: 20px;
    display: inline-block;
    padding: 3px;
    margin-right: 13px;
}
.loginForm .formRow select {
    font-size: 16px;
    display: inline-block;
    padding: 3px;
    margin-right: 13px;
	width:213px;
}
.loginPageLeftSide {
    display: inline-block;
    /* min-width: 44%; */
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
}
.loginPageLeftSideText {
    display: inline-block;
    font-size: 35px;
    vertical-align: top;
    width: 209px;
    line-height: 41px;
    text-align: left;
    padding-left: 14px;
    padding-right: 10px;
}
.loginPageLeftSideBox {
    /* max-width: 872px; */
    display: inline-block;
    background: rgba(245, 245, 245, 0.43);
    border: 1px solid rgb(198, 198, 198);
    padding-top: 10px;
    padding-bottom: 10px;
}
.userLoginTopContainer { 
    padding: 10px 12px; background: rgba(179, 238, 93, 1);
}
.userLoginTopDemoLink {
    display: inline-block;
    width: 220px;
    text-align: right;
}
.userLoginTopDemoLink a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: inline-block;
    font-weight: 300;
    font-size: 18px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.52);
    padding: 6px 12px;
    -webkit-transition: background-color 70ms linear;     
    -moz-transition: background-color 70ms linear;     
    -o-transition: background-color 70ms linear;     
    -ms-transition: background-color 70ms linear;     
    transition: background-color 70ms linear;
}
.userLoginTopDemoLink a:hover {
    background:rgba(0,0,0,.06);   
}
button.loginButton {
    background: rgb(187, 187, 187);
    padding:10px 30px;
    color:white;
    border:none;
    font-size:18px;
    text-shadow: 1px 1px 2px rgb(175, 175, 175);
    cursor: pointer;
    -webkit-transition: background-color 70ms linear;     
    -moz-transition: background-color 70ms linear;     
    -o-transition: background-color 70ms linear;     
    -ms-transition: background-color 70ms linear;     
    transition: background-color 70ms linear;
}
button.loginButton:hover {
    background: rgb(213, 213, 213);
}
.loginPageRightSide {
    display: inline-block;  
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}
.iconSet {
    width: 175px;
    display: inline-block;
    padding-left: 9px;
}

html {
    height: 100%;
}

.loginButtonContainer{
	background: rgba(247, 247, 247, 0.74);
	padding: 9px;
	text-align: right;
	margin-top: 18px;
}

.loginAccessDisclaimerContainer{
	width: 100%;
	max-width: 700px;
	margin-top: 20px;
	display: inline-block;
	text-align: left;
	border-top: 1px solid rgb(219,219,219);
	border-bottom: 1px solid rgb(219,219,219);
	margin-bottom: 22px;
}

.loginAccessDisclaimer{
	color:white;
	font-weight:bold;
	font-size: 14px;
	background: rgb(167,167,167);
	background: rgba(167,167,167,.67);
	padding: 9px;
}

.loginPageImage{
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
    background-size: contain;
    display: inline-block;
}

@media screen and (min-width: 702px){
	.loginAccessDisclaimerContainer{
		border: 1px solid rgb(219,219,219);
	}
}

/*  Tyler added on 11/14/2014 */
.loginMediumContentBoxContent {
    padding: 0;
    border-left: 1px solid rgb(217,217,217);
    border-right: 1px solid rgb(217,217,217);
    border-bottom: 1px solid rgb(217,217,217);
    position: relative;
    overflow: hidden;
    width: 385px;
}
.loginMediumContentBoxHeader {
    background: rgb(233,233,233);
    color: #000;
    padding: 0px 15px;
    font-weight: 300;
    font-size: 21px;
    border: 1px solid rgb(221, 221, 221); 
    border-bottom: 1px solid #CECECE;
    border-radius: 4px 4px 0 0;

    text-align: left;
}
.loginMediumContentBoxContainer {
    width: 387px; 
    display: inline-block;
    vertical-align: top;
    margin-bottom:13px;
}
.mediumContentBoxLinkDescription {
    /* background: rgb(237, 237, 237); */
    padding: 7px 16px 16px 27px;
    border-top: 1px solid rgb(209, 209, 209);
    -webkit-box-shadow: inset 0 1px 7px -2px #BFBFBF;
    box-shadow: inset 0 1px 7px -2px #BFBFBF;
}
.loginMediumContentBoxContent a {
    padding: 8px 10px 7px 10px;
    display: block;
    text-decoration: none;
    color: rgb(34, 76, 187);
    border-top: 1px solid #fff;
    width: 303px;
}
.needsMasonryLayout{
    width: 830px;
    padding-top: 28px;
    padding-left: 20px;
    padding-bottom: 12px;
}

.needsMasonryLayout.shortPaddingTop {
    padding-top: 10px;
}

.loginMediumContentBoxHeaderText {
    display: inline-block;
    padding-top: 6px;
    padding-bottom: 6px;
    line-height: 25px;
}

.loginMediumContentBoxHeaderAddButton {
    display: inline-block;
    padding: 6px 12px;
    background: rgb(219, 219, 219);
    cursor: pointer;
    float: right;
    font-size: 18px;
    line-height: 25px;
    -webkit-transition: background-color 80ms linear;     
    -moz-transition: background-color 80ms linear;     
    -o-transition: background-color 80ms linear;     
    -ms-transition: background-color 80ms linear;     
    transition: background-color 80ms linear;
}

.mediumContentBoxHeaderInsertButton{
    display: inline-block;
    padding: 6px 12px 6px 38px;
    cursor: pointer;
    float: right;
    font-size: 18px;
    line-height: 25px;
    -webkit-transition: background-color 80ms linear;     
    -moz-transition: background-color 80ms linear;     
    -o-transition: background-color 80ms linear;     
    -ms-transition: background-color 80ms linear;     
    transition: background-color 80ms linear;
    background-image: url('../images/download_box_3.png');
    background-size: 32px 32px;
    background-repeat: no-repeat;
    background-position-x: 6px;
    background-position-y: 2px;   
    background-color: rgb(219, 219, 219);
}

.loginMediumContentBoxHeaderAddButton:hover, .mediumContentBoxHeaderInsertButton:hover {
    background-color: #F6F6F6;
}

.loginMediumContentBoxContent:hover .mediumContentBoxContentDeleteButton {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
}

.loginMediumContentBoxContentDeleteButton:hover {
    background-color: rgb(255, 19, 0);
}

form.loginForm .formRow.loginUserName label {
    font-size: 18px;
}

form.loginForm .formRow.loginPassword label {
    font-size: 18px;
}

form.loginForm .formRow.loginCompany label {
    font-size: 18px;
}

form.loginForm .formRow.loginUserName input {
    font-size: 16px;
    padding: 5px;
    width: 204px;
}

form.loginForm .formRow.loginPassword input {
    font-size: 16px;
    padding: 5px;
    width: 204px;
}

form.loginForm .formRow.loginCompany select {
    width: 214px;
    
}

button#login-submit {
    /* background: rgb(168, 168, 168); */
}

.loginButtonContainer {
    background: initial;
    border-top: 1px solid rgb(228, 228, 228);
    padding: 7px;
}

.loginButtonContainer button {
    font-size: 16px;
    padding: 8px 23px;
    margin-right: 12px;
    border: none;
    color: #343434;
    -webkit-transition: background-color 80ms linear, border-color 80ms linear, color 80ms linear;
    -moz-transition: background-color 80ms linear, border-color 80ms linear, color 80ms linear;
    -o-transition: background-color 80ms linear, border-color 80ms linear, color 80ms linear;
    -ms-transition: background-color 80ms linear, border-color 80ms linear, color 80ms linear;
    transition: background-color 80ms linear, border-color 80ms linear, color 80ms linear;
    cursor: pointer;
    background: transparent;
    border: 2px solid rgb(164, 164, 164);
    border-radius: 17px;
    -webkit-border-radius: 17px;
    text-shadow: none;
}
.loginButtonContainer button:hover, .loginButtonContainer button:focus {
    background: #29C0C0;
    border-color: #29C0C0;
    color: white;
    outline: none;
}

.loginPageRightSide .loginMediumContentBoxContainer {
    width: 370px;
    margin-bottom: 0;
}

.loginPageRightSide .loginMediumContentBoxContent {
    width: 368px;
}

.loginPageLeftSideBox {
    padding-top: 20px;
    padding-bottom: 0;
    height: 209px;
    vertical-align: bottom;
    border: 1px solid rgb(217,217,217);
    box-sizing: border-box;
}

.loginPageLeftSide {
    height: 209px;
}

.loginPageLeftSideText {
    font-size: 35px;
    line-height: 39px;
    vertical-align: top;
    padding-top: 4px;
}

.loginPageLeftSideBox .iconSet {
    vertical-align: top;
}

.loginMediumContentBoxHeaderAddButton a {
    text-decoration: none;
    color: #000;
}