.heatMapCell{
    padding:6px;
    width:56px;
    text-align:center;
    cursor:pointer;
    max-width: 5ch;
}

.heatMapColumn{
    display:inline-block;
}

.heatMapHolder{
    margin:0 auto;
    padding-bottom: 17px;
    width: 843px;
}

.compoundCurveHolder{
    margin:0 auto;
    padding-bottom:25px;
    border-top:solid gray 2px;
}

.compoundIdHolder{
    font-weight:bold;
    padding-top:10px;
}

#arxTwoContainer > div > div > h1 {
    padding-bottom: 20px;
    padding-top: 34px;
}

table.arxFitParamTable > tbody > tr:nth-of-type(odd) {
    background: rgb(245, 245, 245);
}

table.arxFitParamTable > tbody > tr:first-of-type {
    background: transparent!important;
}

table.arxFitParamTable > tbody > tr > td > input[type="text"] {
    padding: 4px 5px;
    font-size: 12px;
    width: 126px!important;
    margin: 0;
}

table.arxFitParamTable > tbody > tr > td {
    padding: 7px 12px;
    text-align: center;
}

table.arxFitParamTable > tbody > tr > td > input[type="checkbox"] {
    width: auto!important;
    margin: 3px!important;
}

table.arxFitParamTable {
    background: white;
    width: 700px;
    border-spacing: 0;
}

table.arxFitParamTable > tbody > tr > td:first-of-type {
    text-align: left;
}

td.refitCurveButton {
    padding: 0 28px;
}

td.refitCurveButton > button {
    border: 1px solid rgb(0, 0, 0);
    padding: 4px 10px;
    font-size: 14px;
    margin-top: 9px;
    margin-bottom: 9px;
    border-radius: 2px;
    cursor: pointer;
    background: rgb(255, 255, 255);
}

table.arxFitParamTable > tbody > tr > td > table > tbody > tr > td > input[type="text"] {
    padding: 4px 5px;
    font-size: 12px;
    width: 60px!important;
    margin: 0;
    margin-right: 13px;
    margin-left: 3px;
}

#arxTwoContainer > div > .individualPlate {
    display: none;
}

#arxTwoContainer > div > .individualPlate.visiblePlate {
    display: block;
}

#plateChooser {
    position: absolute;
    right: 11px;
    top: 11px;
    z-index: 8;
}

button.plateSaveResultsButton {
    border: 1px solid rgb(0, 0, 0);
    padding: 4px 10px;
    font-size: 16px;
    line-height: 19px;
    margin-top: 9px;
    margin-bottom: 9px;
    border-radius: 2px;
    cursor: pointer;
    background: rgb(255, 255, 255);
}

button.plateSaveResultsButton:hover {
    background: #f3f3f3;
}

td.refitCurveButton > button:hover {
    background: #F3F3F3;
}

select#plateSelect {
    display: inline-block;
    margin-top: 4px;
    margin-left: 3px;
    margin-right: 3px;
    vertical-align: top;
}
.platePrevNext {
    display: inline-block;
    border: 1px solid #7d7d7d;
    font-size: 12px;
    padding: 3px 5px;
    background: #ffffff;
    cursor: pointer;
    color: #585858;
}
.platePrevNext.platePrev {
    border-right: none;
}
.platePrevNext.plateNext {
    border-left: none;
}
.platePrevNext:hover {
    background: #f3f3f3;
}
.plateSelectHolder {
    display: inline-block;
    vertical-align: top;
    background: white;
    height: 26px;
    padding: 0 4px;
    border: 1px solid #7d7d7d;
}
.heatMapHolderContainer.threeEightyFourPlate {
    height: 400px;
    position: relative;
}
.heatMapHolderContainer.threeEightyFourPlate .heatMapCell {
    padding: 2px;
    font-size: 10px;
    width: 30px;
}
.heatMapHolderContainer.fifteenThirtySixPlate {
    height: 433px;
    position: relative;
}
.heatMapHolderContainer.fifteenThirtySixPlate .heatMapCell {
    font-size: 9px;
    width: 22px;
    line-height: 1px;
}
@media screen and (min-height: 750px){
    .heatMapHolderContainer.makeFixed .heatMapHolder {
        position: fixed;
        z-index: 5;
        top: 0;
        background: #eeeeee;
        box-shadow: 0px 6px 11px -7px #000;
        margin-left: -15px;
        padding-left: 15px;
    }
}
.heatMapHolderContainer {
    height: 337px;
    position: relative;
}
button.popinButton,button.popoutButton {
    display: none;
    border: 1px solid #000;
    background: #fff;
    border: 1px solid #7d7d7d;
    padding: 3px 8px;
    font-size: 14px;
    cursor: pointer;
}
.popoutPopinButtons.popoutButtonVisible button.popoutButton,.popoutPopinButtons.popinButtonVisible button.popinButton {
    display: inline-block;
}
.popoutPopinButtons {
    position: absolute;
    top: 11px;
}
button.popinButton:hover, button.popoutButton:hover {
    background: #f3f3f3;
}
.heatMapHolderContainer.makeHidden {
    display: none;
}