#reactNotificationHolder {    
    margin-left: -648px;
    margin-top: 40px;
    display: none;
}

.outerReactRequestNotificationsContainer {
    background: white;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.reactRequestNotificationsContainer {    
    width: 700px;
    max-height: 500px;
    overflow-y: auto;
}

.reactNotificationHolder {    
    padding: 5px;
    padding-top: 0px;
    border: 1px;
    border-style: solid;
    border-color: darkgray;
    margin: 10px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.reactNotificationHolder:hover {    
    margin-left: 8px;
    margin-right: 8px;
}

.reactNotificationTable {
    width: 100%;
}

.reactNotificationTableCell {
    border-width: 1px;
    border-style: solid;
    text-align: center;
    width: 33%;
}

.reactNotificationTitle {
    margin-bottom: 0px;
}

.reactNotificationLink {
    color: black;
}

.reactNotificationLink:hover, .reactNotificationLink:focus {
    color: black;
}

.reactDismissNotificationButton {
    text-align: right;
    margin-bottom: -20px;
    float: right;
}

.reactDismissNotificationButton:hover {
    font-size: large;
    cursor: pointer;
}

.reactNotificationHolder:hover > .reactDismissNotificationButtonHolder > .reactDismissNotificationButton {
}

.reactDismissNotificationButtonHolder {

}

.reactRequestNotificationsContainer > span {
    padding-left: 10px;
}

.reactRequestNotificationsContainer:empty:after {
    content: "No notifications to display.";
    display: block;
    text-align: center;
}

#reactNotificationCount {
    position: absolute;
    background: red;
    color: white;
    font-weight: bold;
    padding-left: 6px;
    padding-right: 7px;
    top: 0px;
    left: 25px;
    border-radius: 16px;
    z-index: 1;
    display: none;
}

.dismissAllBtnHolder {
    /*text-align: right;*/
}

.dismissAllBtn {
    padding: 5px;
}

.dismissAllBtn:hover {
    font-size: large;
    cursor: pointer;
}

.reactNotificationTableHead {
    width: 100%;
    border-style: solid;
    border-width: 0px;
    border-bottom-width: 2px;
    border-color: black;
}

.reactNotificationTableHeadCell {
    width: 33%;
    text-align: center;
}

.reactNotificationFieldTable {    
    width: 100%;
    border-style: solid;
    border-color: darkgray;
    border-width: 0px;
}

.reactNotificationFieldTable:not(:last-child) {
    border-bottom-width: 1px;
}

.reactNotificationFieldTableCell {    
    width: 33%;
    padding: 10px;
    text-align: center;
}

.reactNotificationFieldTableCellRight {
    border-width: 0px;
    border-style: solid;
    border-color: darkgray;
    border-left-width: 1px;
}

.reactNotificationFieldName {
    padding-left: 20px;
    padding-top: 10px;
}