<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">  
  <system.webServer>
    <rewrite xdt:Transform="Replace">
      <rules>
        <rule name="NodeProxy" patternSyntax="Wildcard" stopProcessing="true">
          <match url="node/*" />
          <action type="Rewrite" url="http://10.10.10.15:89/{R:1}" />
          <conditions></conditions>
        </rule>
        <rule name="ConfigSvcProxy" patternSyntax="Wildcard" stopProcessing="true">
          <match url="webservices/config/*" />
          <action type="Rewrite" url="http://10.10.10.15:80/{R:1}" />
          <conditions></conditions>
        </rule>
        <rule name="AppSvcProxy" patternSyntax="Wildcard" stopProcessing="true">
          <match url="webservices/app/*" />
          <action type="Rewrite" url="http://10.10.10.15:83/{R:1}" />
          <conditions></conditions>
        </rule>
        <rule name="NotificationSvcProxy" patternSyntax="Wildcard" stopProcessing="true">
          <match url="webservices/notification/*" />
          <action type="Rewrite" url="http://10.10.10.15:84/{R:1}" />
          <conditions></conditions>
        </rule>
        <rule name="FileSvcProxy" patternSyntax="Wildcard" stopProcessing="true">
          <match url="webservices/file/*" />
          <action type="Rewrite" url="http://10.10.10.15:88/{R:1}" />
          <conditions></conditions>
        </rule>
        <rule name="LinkSvcProxy" patternSyntax="Wildcard" stopProcessing="true">
          <match url="webservices/link/*" />
          <action type="Rewrite" url="http://10.10.10.15:85/{R:1}" />
          <conditions></conditions>
        </rule>
        <rule name="PermSvcProxy" patternSyntax="Wildcard" stopProcessing="true">
          <match url="webservices/permission/*" />
          <action type="Rewrite" url="http://10.10.10.15:86/{R:1}" />
          <conditions></conditions>
        </rule>
        <rule name="CdxmlSvcProxy" patternSyntax="Wildcard" stopProcessing="true">
          <match url="webservices/cdxml/*" />
          <action type="Rewrite" url="http://10.10.10.15:90/{R:1}" />
          <conditions></conditions>
        </rule>
        <rule name="WorkflowSvcProxy" patternSyntax="Wildcard" stopProcessing="true">
          <match url="webservices/workflow/*" />
          <action type="Rewrite" url="http://10.10.10.15:91/{R:1}" />
          <conditions></conditions>
        </rule>
        <rule name="AuthSvcProxy" patternSyntax="Wildcard" stopProcessing="true">
          <match url="webservices/auth/*" />
          <action type="Rewrite" url="http://10.10.10.15:93/{R:1}" />
          <conditions></conditions>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
      