<style type="text/css">
@import url("templates/general_containers.css");
.templateDiv{
	position:relative;
}
.versionDiv{
	position:absolute;
	right:70px;
}
</style>
	<h1 formName="objectType" class="osadjfoijaspdoifjsdo"></h1>
	<h1 formname="versionDiv" class="versionDiv"></h1>
	<!--<div class="toggleEmptyFieldVisibility">Hide empty fields</div>
	<div class="templateParentContainer" formName="parentLink"></div>-->
	
	<div class="inventoryTemplate inventoryTemplate2">
		<div class="inventoryTemplateOuterBox">

