<style type="text/css">
@import url("templates/general_containers.css");
</style>
	<h1 formName="objectType" class="osadjfoijaspdoifjsdo"></h1>
	<h1 formname="versionDiv" class="versionDiv"></h1>
	<!--<div class="toggleEmptyFieldVisibility">Hide empty fields</div>
	<div class="templateParentContainer" formName="parentLink"></div>-->
	
	<div class="inventoryTemplate inventoryTemplate2">
		<div class="inventoryTemplateOuterBox">
			<div class="templateImage" formName="Structure">
				<div class="structurePropertiesBox">
					<div class="templateText expandContentOnHover" formName="Chemical Name">
						<label for="877f4ffb6a" class="ax1-text-label">Chemical Name</label>
					</div>
					<div class="templateText" formName="Mol Weight">
						<label for="a146654504" class="ax1-text-label">Mol Weight</label>
					</div>
					<div class="templateText" formName="Formula">
						<label for="877f4ffb6a" class="ax1-text-label">Mol Formula</label>
					</div>
					<div class="templateText" formName="CAS Number">
						<label for="877f4ffb6a" class="ax1-text-label">CAS Number</label>
						<div class="templateCheckInButtonContainer" formname="CAS Lookup"></div>
					</div>
				</div>
			</div>
			<div class="templateText" formName="Name">
				<label for="877f4ffb6a" class="ax1-text-label">Container Name*</label>
			</div>
			<div class="templateText" formName="Barcode">
				<label for="a146654504" class="ax1-text-label">Barcode*</label>
			</div>
			<div class="templateText" formName="Amount">
				<label for="aa1beeba9f" class="ax1-date-label">Amount Remaining*</label>
			</div>
			<div class="templateSelect" formName="Unit Type">
				<label for="38877adc8f" class="ax1-date-label">Amount Units*</label>
			</div>
			<div class="templateText" formName="Density">
				<label for="aa1beeba9f" class="ax1-date-label">Density</label>
			</div>
			<div class="templateSelect" formName="Density Units">
				<label for="38877adc8f" class="ax1-date-label">Density Units</label>
			</div>
			<div class="templateText" formName="Purity">
				<label for="877f4ffb6a" class="ax1-text-label">Purity</label>
			</div>

			<div class="templateInnerBreadcrumbsTable">
				<div class="templateInnerBreadcrumbs" formName="Location">
					<label for="877f4ffb6a" class="ax1-text-label">Location</label>
				</div>
			</div>
			<div class="templateInnerBreadcrumbsTable">
				<div class="templateInnerBreadcrumbs" formName="Lineage">
					<label for="877f4ffb6a" class="ax1-text-label">Lineage</label>
				</div>
			</div>
			<div class="templateText" formName="Supplier">
				<label for="a146654504" class="ax1-text-label">Supplier</label>
			</div>
			<div class="templateText" formName="Supplier Catalog Number">
				<label for="877f4ffb6a" class="ax1-text-label">Supplier Catalog Number</label>
			</div>
			<div class="templateText" formName="Initial Amount">
				<label for="6b53ec92e4" class="ax1-select-label">Initial Amount*</label>
			</div>
			<div class="templateText" formName="Supplier">
				<label for="6b53ec92e4" class="ax1-select-label">Supplier</label>
			</div>
			<div class="templateText" formName="Supplier Catalog Number">
				<label for="6b53ec92e4" class="ax1-select-label">Supplier Catalog Number</label>
			</div>
			<div class="templateText" formName="Registration Id">
				<label for="6b53ec92e4" class="ax1-select-label">Registration Id</label>
			</div>
			<div class="templateText" formName="Alias">
				<label for="6b53ec92e4" class="ax1-text-label">Alias</label>
			</div>
			<div class="templateText" formName="Lot #">
				<label for="6b53ec92e4" class="ax1-text-label">Lot #</label>
			</div>
			<div class="templateText" formName="Project">
				<label for="6b53ec92e4" class="ax1-text-label">Project</label>
			</div>
			<div class="templateSelect" formName="Physical State">
				<label for="6b53ec92e4" class="ax1-select-label">Physical State</label>
			</div>
			<div class="templateSelect" formName="Container Type">
				<label for="6b53ec92e4" class="ax1-select-label">Container Type</label>
			</div>
			<div class="templateText" formName="Flammable">
				<label for="877f4ffb6a" class="ax1-text-label">Flammable</label>
			</div>
			<div class="templateSelect" formName="Flammable Class">
				<label for="877f4ffb6a" class="ax1-text-select">Flammable Class</label>
			</div>
			<div class="templateSelect" formName="State of Matter">
				<label for="877f4ffb6a" class="ax1-text-select">State of Matter</label>
			</div>
			<div class="templateSelect" formName="Container Type">
				<label for="877f4ffb6a" class="ax1-text-select">Container Type</label>
			</div>
			<div class="templateText" formName="Lab">
				<label for="877f4ffb6a" class="ax1-text-label">Lab</label>
			</div>
			<div class="templateText" formName="Vendor Lot">
				<label for="877f4ffb6a" class="ax1-text-label">Vendor Lot</label>
			</div>
			<div class="templateText" formName="Received Date">
				<label for="877f4ffb6a" class="ax1-text-label">Received Date</label>
			</div>
			<div class="templateText" formName="Open Date">
				<label for="877f4ffb6a" class="ax1-text-label">Open Date</label>
			</div>
			<div class="templateText" formName="Expiration Date">
				<label for="877f4ffb6a" class="ax1-text-label">Expiration Date</label>
			</div>
			<div class="templateTextarea" formName="Comments">
				<label for="6b53ec92e4" class="ax1-textarea-label">Comments</label>
			</div>
			<div class="templateText" formName="Mixture %">
				<label for="877f4ffb6a" class="ax1-text-label">Mixture %</label>
			</div>
			<div class="templateSelect" formName="Physical State">
				<label for="877f4ffb6a" class="ax1-text-select">Physical State</label>
			</div>
			<div class="templateSelect" formName="Fire Hazard">
				<label for="877f4ffb6a" class="ax1-text-select">Fire Hazard</label>
			</div>
			<div class="templateSelect" formName="Sudden Pressure Release Hazard">
				<label for="877f4ffb6a" class="ax1-text-select">Sudden Pressure Release Hazard</label>
			</div>
			<div class="templateSelect" formName="Reactive Hazard">
				<label for="877f4ffb6a" class="ax1-text-select">Reactive Hazard</label>
			</div>
			<div class="templateSelect" formName="Acute Health Effect Hazard">
				<label for="877f4ffb6a" class="ax1-text-select">Acute Health Effect Hazard</label>
			</div>
			<div class="templateSelect" formName="Chronic Health Effect Hazard">
				<label for="877f4ffb6a" class="ax1-text-select">Chronic Health Effect Hazard</label>
			</div>
			<div class="templateText" formName="Lot Number">
				<label for="877f4ffb6a" class="ax1-text-text">Lot Number</label>
			</div>
			<div class="templateText" formName="Cost (USD)">
				<label for="877f4ffb6a" class="ax1-text-text">Cost (USD)</label>
			</div>
		</div>
		<div style="display:none!important;" class="hiddenFormRows"></div>
			<div class="templateBottomButtonsContainer">
				<div class="templateSampleButtonContainer" formname="Sample"></div>
				<div class="templateEditButtonContainer" formname="Edit"></div>
				<div class="templateViewButtonContainer" formname="View"></div>
				<div class="templateUseButtonContainer" formname="Use"></div>
				<div class="templateMoveButtonContainer" formname="Move"></div>
				<div class="templateCheckOutButtonContainer" formname="Check Out"></div>
				<div class="templateDisposeButtonContainer" formname="Dispose"></div>
				<div class="templateCheckInButtonContainer" formname="Copy"></div>
				<div class="templateSubmitButtonContainer" formname="Submit"></div>
				<div class="templateCheckInButtonContainer" formname="Check In"></div>
				<div class="templateCheckInButtonContainer" formname="Print Label"></div>
			</div>
			<div class="templateBottomInfoContainer">
				<div class="templateUserAdded" formname="User Added">
					<label for="0585f2e389" class="ax1-userInfo-label">User Added</label>
				</div>
				<div class="templateDateCreated" formname="Date Created">
					<label for="f00aabb04f" class="ax1-dateFixed-label">Date Created</label>
				</div>
			</div>
		</div>
		<div formname="auditTrail" class="auditTrail">

		</div>
	</div>
<script type="text/javascript">

var t_hideEmptyToggle = false;

var setRowColors = function(){
    $('.inventoryTemplateOuterBox > div:visible:odd').css("background","rgb(223, 223, 223)");
    $('.inventoryTemplateOuterBox > div:visible:even').css("background","transparent");
}

$(document).ready(function() {

// Move Structure Properties to the right of the structure image
$(".structurePropertiesBox").insertAfter($('.templateImage > img'));
$(".structurePropertiesBox").insertAfter($('.templateImage > iframe'));

var toggleEmptyFieldVisibility = function(){
	

	if(t_hideEmptyToggle == false){
		t_hideEmptyToggle = true;
		$(".toggleEmptyFieldVisibility").text("Show empty fields");
	}
	else{
		t_hideEmptyToggle = false;
		$(".toggleEmptyFieldVisibility").text("Hide empty fields");
	}


	if(t_hideEmptyToggle == false || 1==1){
		//Show empty fields
		$(".inventoryTemplateOuterBox").children().show();
		setRowColors();
	}
    else{

		$('.templateText').children('.ax1-text').each(function () {
			
		    	//Hide empty fields
			    if($(this).text() != "" && $(this).text() != undefined && $(this).text() != "undefined" && $(this).text() != " "){
			    		//Do nothing
			    }
			    else{ //This field is empty
			    		$(this).parent().hide();
			    }
		});

		$('.templateTextarea').children('.ax1-textarea').each(function () {
			
		    	//Hide empty fields
			    if($(this).text() != "" && $(this).text() != undefined && $(this).text() != "undefined" && $(this).text() != " "){
			    		//Do nothing
			    }
			    else{ //This field is empty
			    		$(this).parent().hide();
			    }
		});

		$('.templateSelect').children('.ax1-select').each(function () {
			
		    	//Hide empty fields
			    if($(this).text() != "" && $(this).text() != undefined && $(this).text() != "undefined" && $(this).text() != " "){
			    		//Do nothing
			    }
			    else{ //This field is empty
			    		$(this).parent().hide();
			    }
		});

		$('.templateDate').children('.ax1-date').each(function () {
			
		    	//Hide empty fields
			    if($(this).text() != "" && $(this).text() != undefined && $(this).text() != "undefined" && $(this).text() != " "){
			    		//Do nothing
			    }
			    else{ //This field is empty
			    		$(this).parent().hide();
			    }
		});

		setRowColors();
		

	}
}

var hideEmptyBottomButtonSpans = function(){
	if($('.templateSampleButtonContainer').children().length == 0){
		$('.templateSampleButtonContainer').hide();
	}

	if($('.templateEditButtonContainer').children().length == 0){
		$('.templateEditButtonContainer').hide();
	}

	if($('.templateViewButtonContainer').children().length == 0){
		$('.templateViewButtonContainer').hide();
	}

	if($('.templateUseButtonContainer').children().length == 0){
		$('.templateuseButtonContainer').hide();
	}

	if($('.templateMoveButtonContainer').children().length == 0){
		$('.templateMoveButtonContainer').hide();
	}

	if($('.templateCheckOutButtonContainer').children().length == 0){
		$('.templateCheckOutButtonContainer').hide();
	}
	if($('.templateDisposeButtonContainer').children().length == 0){
		$('.templateDisposeButtonContainer').hide();
	}
	if($('.templateSubmitButtonContainer').children().length == 0){
		$('.templateSubmitButtonContainer').hide();
	}

	if($('.templateCheckInButtonContainer').children().length == 0){
		$('.templateCheckInButtonContainer').hide();
	}
}

$(".toggleEmptyFieldVisibility").click(function(){
	toggleEmptyFieldVisibility();
});


if( $(".templateEditButtonContainer > input").get().length>0){
	toggleEmptyFieldVisibility();
	$('.templateViewButtonContainer').hide();
	$('.templateSubmitButtonContainer').hide();
}
else{
	$(".toggleEmptyFieldVisibility").hide();
	setRowColors();
}
/* Giving up on this to hide unnecessary bottom buttons...
var hideEmptyBottomButtonSpans = function(){
	$(".templateBottomButtonsContainer").children().each(function() {
		alert(this.children.length);
		if(this.children().length == 0){
			$(this).hide();
		}
	});
	alert("hello");
}*/
hideEmptyBottomButtonSpans();

if (document.createStyleSheet){
	document.createStyleSheet("templates/general_containers.css");
}
else{
//	DISABLED because there's a delay - putting it at the top of this template instead
// ...BUT THEN ENABLED because the h1 and "show/hide" button get messed up during page load without this
// And disabled again...
//	$("head").append('<link rel="stylesheet" type="text/css" href="templates/mskihc_lot.css?<%=jsRev%>" />'); 
}

$("#contentDiv").hide();
var jsodjfoaisdjfsd = setTimeout(function(){
$("#contentDiv").show();
},40);

});

</script>