<style type="text/css">
@import url("templates/mskihc_lot.css");
</style>
	<h1>Lot Shipment</h1>
	<div class="toggleEmptyFieldVisibility">Hide empty fields</div>
	<div class="templateParentContainer" formName="parentLink"></div>
	
	<div class="inventoryTemplate inventoryTemplate2">
		<div class="inventoryTemplateOuterBox">
			<div class="templateText" formName="Lot#">
				<label for="877f4ffb6a" class="ax1-text-label">Lot#*</label>
			</div>
			<div class="templateText" formName="Number Of Containers">
				<label for="877f4ffb6a" class="ax1-text-label">Number Of Containers*</label>
			</div>
			<div class="templateText" formName="Protein Concentration ug/ml">
				<label for="a146654504" class="ax1-text-label">Protein Concentration ug/ml*</label>
			</div>
			<div class="templateSelect" formName="Status">
				<label for="6b53ec92e4" class="ax1-select-label">Status*</label>
			</div>
			<div class="templateDate" formName="Received">
				<label for="aa1beeba9f" class="ax1-date-label">Received</label>
			</div>
			<div class="templateDate" formName="Expiration">
				<label for="38877adc8f" class="ax1-date-label">Expiration</label>
			</div>
		</div>
		<div style="display:none!important;" class="hiddenFormRows"></div>
			<div class="templateBottomButtonsContainer">
				<div class="templateAddButtonContainer" formname="Add"></div>
				<div class="templateEditButtonContainer" formname="Edit"></div>
				<div class="templateViewButtonContainer" formname="View"></div>
				<div class="templateSubmitButtonContainer" formname="Submit"></div>
			</div>
			<div class="templateBottomInfoContainer">
				<div class="templateUserAdded" formname="User Added">
					<label for="0585f2e389" class="ax1-userInfo-label">User Added</label>
				</div>
				<div class="templateDateCreated" formname="Date Created">
					<label for="f00aabb04f" class="ax1-dateFixed-label">Date Created</label>
				</div>
			</div>
		</div>
	</div>
<script type="text/javascript">

var t_hideEmptyToggle = false;

var setRowColors = function(){
    $('.inventoryTemplateOuterBox > div:visible:odd').css("background","rgb(223, 223, 223)");
    $('.inventoryTemplateOuterBox > div:visible:even').css("background","transparent");
}

$(document).ready(function() {
var toggleEmptyFieldVisibility = function(){
	

	if(t_hideEmptyToggle == false){
		t_hideEmptyToggle = true;
		$(".toggleEmptyFieldVisibility").text("Show empty fields");
	}
	else{
		t_hideEmptyToggle = false;
		$(".toggleEmptyFieldVisibility").text("Hide empty fields");
	}


	if(t_hideEmptyToggle == false){
		//Show empty fields
		$(".inventoryTemplateOuterBox").children().show();
		setRowColors();
	}
    else{

		$('.templateText').children('.ax1-text').each(function () {
			
		    	//Hide empty fields
			    if($(this).text() != "" && $(this).text() != undefined && $(this).text() != "undefined" && $(this).text() != " "){
			    		//Do nothing
			    }
			    else{ //This field is empty
			    		$(this).parent().hide();
			    }
		});

		$('.templateTextarea').children('.ax1-textarea').each(function () {
			
		    	//Hide empty fields
			    if($(this).text() != "" && $(this).text() != undefined && $(this).text() != "undefined" && $(this).text() != " "){
			    		//Do nothing
			    }
			    else{ //This field is empty
			    		$(this).parent().hide();
			    }
		});

		$('.templateSelect').children('.ax1-select').each(function () {
			
		    	//Hide empty fields
			    if($(this).text() != "" && $(this).text() != undefined && $(this).text() != "undefined" && $(this).text() != " "){
			    		//Do nothing
			    }
			    else{ //This field is empty
			    		$(this).parent().hide();
			    }
		});

		$('.templateDate').children('.ax1-date').each(function () {
			
		    	//Hide empty fields
			    if($(this).text() != "" && $(this).text() != undefined && $(this).text() != "undefined" && $(this).text() != " "){
			    		//Do nothing
			    }
			    else{ //This field is empty
			    		$(this).parent().hide();
			    }
		});

		setRowColors();
		

	}
}

var hideEmptyBottomButtonSpans = function(){
	if($('.templateAddButtonContainer').children().length == 0){
		$('.templateAddButtonContainer').hide();
	}

	if($('.templateEditButtonContainer').children().length == 0){
		$('.templateEditButtonContainer').hide();
	}
}

$(".toggleEmptyFieldVisibility").click(function(){
	toggleEmptyFieldVisibility();
});


if( $(".templateEditButtonContainer > input").get().length>0){
	toggleEmptyFieldVisibility();
	$('.templateViewButtonContainer').hide();
	$('.templateSubmitButtonContainer').hide();
}
else{
	$(".toggleEmptyFieldVisibility").hide();
	setRowColors();
}


hideEmptyBottomButtonSpans();

if (document.createStyleSheet){
	document.createStyleSheet("templates/mskihc_lot.css");
}
else{
//	DISABLED because there's a delay - putting it at the top of this template instead
// ...BUT THEN ENABLED because the h1 and "show/hide" button get messed up during page load without this
// And disabled again...
//	$("head").append('<link rel="stylesheet" type="text/css" href="templates/mskihc_lot.css?<%=jsRev%>" />'); 
}

$("#contentDiv").hide();
var jsodjfoaisdjfsd = setTimeout(function(){
$("#contentDiv").show();
},40);

});

</script>