<style type="text/css">
@import url("templates/mskihc_splash.css");
</style>
<div class="homePageTitle">Manage Inventory</div>
<div class="homePageHierarchyContainer">
	<div class="findSection">
		<div class="findReagentsButtonContainer">Find Reagents</div>
		<div class="findLotsButtonContainer">Find Lots</div>
		<div class="findDilutionButtonContainer">Find Preparations</div>
	</div>
	<div class="spaceInBetween"></div>
	<div class="addSection">
		<div class="addReagentButtonContainer">Add Reagent</div>
		<div class="addLotButtonContainer" rel="addLot" href="#addLotPopup">Add Lot</div>
		<div class="addDilutionButtonContainer" rel="addDilution" href="#addDilutionPopup">Add Preparation</div>
	</div>
	<div id="addLotPopup" class="addLotPopup">
		<!--<div class="topText">Search for a Reagent to add your Lot to...</div>-->
		<div class="topText">To add a Lot, search for a Reagent, then click "Add" from the Reagent page. Click "OK" to search for a Reagent</div>
		<div class="dontShowAgainCheckboxContainer"><input name="dontShowAgainCheckboxLot" class="dontShowAgainCheckbox" id="dontShowAgainCheckboxLot" value="0" type="checkbox"><label for="dontShowAgainCheckboxLot" class="dontShowAgainLabel">Don't show this message again</label></div>
		<div class="okSection okSectionAddLot">OK</div>
	</div>
	<div id="addDilutionPopup" class="addDilutionPopup">
		<!--<div class="topText">Search for a Lot to add your Dilution to...</div>-->
		<div class="topText">To add a Preparation, search for a Lot, then click "Add" from the Lot page. Click "OK" to search for a Lot</div>
		<div class="dontShowAgainCheckboxContainer"><input name="dontShowAgainCheckboxDilution" class="dontShowAgainCheckbox" id="dontShowAgainCheckboxDilution" value="0" type="checkbox"><label for="dontShowAgainCheckboxDilution" class="dontShowAgainLabel">Don't show this message again</label></div>
		<div class="okSection okSectionAddDilution">OK</div>
	</div>
</div>

<script type="text/javascript">
if (document.createStyleSheet){
	document.createStyleSheet("templates/mskihc_splash.css");
}
else{
//	DISABLED because there's a delay - putting it at the top of this template instead
//	$("head").append('<link rel="stylesheet" type="text/css" href="templates/mskihc_splash.css?<%=jsRev%>" />'); 
}

$(document).ready(function() {

    var createCookie = function(name,value,days) {
        if (days) {
            var date = new Date();
            date.setTime(date.getTime()+(days*24*60*60*1000));
            var expires = "; expires="+date.toGMTString();
        }
        else var expires = "";
        document.cookie = name+"="+value+expires+"; path=/";
    }

    var readCookie = function(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        for(var i=0;i < ca.length;i++) {
            var c = ca[i];
            while (c.charAt(0)==' ') c = c.substring(1,c.length);
            if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
        }
        return null;
    }

    var eraseCookie = function(name) {
        createCookie(name,"",-1);
    }


    $("div[rel*=addLot]").leanModal();
    $("div[rel*=addDilution]").leanModal();


    $("#lean_overlay").click(function(event){
        clearTimeout(window.delayRedirectStartCountdown);
        $(".topText").hide();

    });

    // Listen for clicks of the "Add Lot" button - start a countdown
    $(".addLotButtonContainer").click(function(event){
        var hideLongDescriptionPopupForAddLotValue = readCookie('hideLongDescriptionPopupForAddLot')
        if (hideLongDescriptionPopupForAddLotValue == "1") {
            $(".addLotPopup > .topText").text("Search for a Reagent to add your Lot to...").show();
			$(".dontShowAgainCheckboxContainer").hide();
            clearTimeout(window.delayRedirectStartCountdown);
            window.delayRedirectStartCountdown = setTimeout(function(){
                makeSearch('arxOneContainer','reagent');
            },1500);
        }
        else{
			$(".dontShowAgainCheckboxContainer").show();
            $(".addLotPopup > .topText").text('To add a Lot, you must select a Reagent. Click "OK" to search for a Reagent.').show();
            // Wait for "OK" to be clicked
        }
    });
    // Listen for clicks of the "OK" section of the Add Lot popup
    $(".okSectionAddLot").click(function(event){
        if($("#dontShowAgainCheckboxLot").is(':checked')){
            createCookie('hideLongDescriptionPopupForAddLot','1'); // Hiding the long/manual process permanently
        }
		clearTimeout(window.delayRedirectStartCountdown);
        $("#lean_overlay").click();
        makeSearch('arxOneContainer','reagent');
    });


    // Listen for clicks of the "Add Preparation" button - start a countdown
    $(".addDilutionButtonContainer").click(function(event){
        var hideLongDescriptionPopupForAddDilutionValue = readCookie('hideLongDescriptionPopupForAddDilution')
        if (hideLongDescriptionPopupForAddDilutionValue == "1") {
            $(".addDilutionPopup > .topText").text("Search for a Lot to add your Preparation to...").show();
			$(".dontShowAgainCheckboxContainer").hide();
            clearTimeout(window.delayRedirectStartCountdown);
            window.delayRedirectStartCountdown = setTimeout(function(){
				makeSearch('arxOneContainer','lot');
            },1500);
        }
        else{
			$(".dontShowAgainCheckboxContainer").show();
            $(".addDilutionPopup > .topText").text('To add a Preparation, you must select a Lot. Click "OK" to search for a Lot.').show();
            // Wait for "OK" to be clicked
        }
    });
    // Listen for clicks of the "OK" section of the Add Preparation popup
    $(".okSectionAddDilution").click(function(event){
        if($("#dontShowAgainCheckboxDilution").is(':checked')){
            createCookie('hideLongDescriptionPopupForAddDilution','1'); // Hiding the long/manual process permanently
        }
		clearTimeout(window.delayRedirectStartCountdown);
        $("#lean_overlay").click();
		makeSearch('arxOneContainer','lot');
    });

    $(".findReagentsButtonContainer").click(function(event){
        makeSearch('arxOneContainer','reagent');
    });

    $(".findLotsButtonContainer").click(function(event){
        makeSearch('arxOneContainer','lot');
    });

    $(".findDilutionButtonContainer").click(function(event){
        makeSearch('arxOneContainer','preparation');
    });

	$(".addReagentButtonContainer").click(function(event){
		autoClickAdd = true;
		actionFunctions("add",false,$("#tree").dynatree("getRoot").getChildren()[0],"arxOneContainer")
    });
});

</script>