/* 2nd Reg Search CSS Attmpt */
.groupHolder, .regSearch_topSection {
    -webkit-border-radius: 5px; 
    border-radius: 5px;
    background-color: rgb(255, 255, 255)!important;
    padding: 0px!important;
    border: 1px solid rgb(187, 187, 187);
    border-bottom: 4px solid rgb(160,160,160);
    position:relative;
}
.groupHolder > .selectHolder {
    background: rgb(247, 247, 247);
    padding: 10px 5px;
    border-top: 1px solid rgb(169, 169, 169);
    border-bottom: 1px solid rgb(169, 169, 169);
}

.t_fieldButton{
    -webkit-border-radius: 20px;
    border-radius: 20px;
    background: #C7C7C7;
    display: inline-block;
    width: 25px;
    height: 14px;
    padding: 4px 0px 6px 0px;
    font-size: 30px;
    line-height: 12px;
    text-align: center;
    border: 1px solid #9D9D9D;
    margin-right: 10px;
    cursor: pointer;
}

.t_groupButton_remove{
    -webkit-border-radius: 20px;
    border-radius: 20px;
    background: #C7C7C7;
    display: inline-block;
    width: 25px;
    height: 14px;
    padding: 4px 0px 6px 0px;
    font-size: 30px;
    line-height: 12px;
    text-align: center;
    border: 1px solid #9D9D9D;
    margin-right: 0px;
    cursor: pointer;
    text-decoration: none!important;
}
.groupHolder > .selectHolder > select {
    margin: 0 0 0 2px!important;
    font-size: 16px;
}
.groupHolder > .fieldHolder {
    background: rgb(254, 254, 254)!important;
    margin-left: 0px!important;
    display: inline-block!important;
    /*width: 788px;*/
	width: 787px;
}
.groupHolder > .fieldHolder:nth-of-type(1){
    -webkit-border-radius: 5px 0 0 0; 
    border-radius: 5px 0 0 0;
     
}
.removeButton {
    font-size: 55px;
    padding: 10px;
    display: inline-block;
    padding: 0px;
    text-align: center;
    vertical-align: top;
    width: 42px;
    height: 33px;
    cursor: pointer;
    height: 54px;
    width: 54px;
    margin-left: -4px;
    line-height: 46px;
    border-left: 1px solid silver;
    color: rgb(222, 83, 83);
    -webkit-transition: background-color .05s, box-shadow .12s, -webkit-box-shadow .12s;
    transition: background-color 0.05s, box-shadow .12s, -webkit-box-shadow .12s;
}
.removeButton:hover{
    background: rgb(249, 249, 249);
    -webkit-box-shadow: inset -1px 0 2px 0 rgba(30,30,30,.56); 
    box-shadow: inset 1px 0 4px 0 rgba(164, 164, 164, 0.56);
    /* margin-left: -2px; */
    /* width: 46px; */
}

.buttonAddToGroupIcon {
    font-size: 47px;
    display: inline-block;
    padding: 0px;
    text-align: center;
    vertical-align: top;
    cursor: pointer;
    height: 54px;
    width: 54px;
    margin-left: 0px;
    line-height: 54px;
    color: rgb(83, 222, 94)!important;
    text-decoration: none!important;
    /* text-shadow: rgba(0, 0, 0, 0.36) 1px 1px 0px; */
}

.buttonAdvancedSearchIcon {
    font-size: 47px;
    display: inline-block;
    padding: 0px;
    text-align: center;
    vertical-align: top;
    cursor: pointer;
    height: 47px;
    width: 54px;
    margin-left: 0px;
    line-height: 47px;
    color: rgb(83, 222, 94)!important;
    text-decoration: none!important;
}

.buttonAddToGroup:hover{ 
}

div#buttonAddToGroup.buttonAddToGroup {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: rgb(247, 247, 247);
    opacity: 0.5;
    cursor: pointer;
    padding: 0px;
    display: inline-block;
    float: left;
    border-right: 1px solid rgb(169, 169, 169);
    -webkit-transition:opacity .14s;
    transition:opacity .14s;
}
#buttonAddToGroup.buttonAddToGroup > .buttonAddToGroupText {
    display: inline-block;
    text-decoration: none;
    padding-left: 15px;
    font-size: 20px;
    padding-right: 29px;
    cursor: pointer;
    height: 38px;
    padding-top: 16px;
}
div#buttonAddToGroup.buttonAddToGroup:hover {
    background-color: rgb(247, 247, 247);
    -webkit-box-shadow: rgba(30, 30, 30, 0.14902) 0px 1px 3px 0px inset;
    box-shadow: rgba(30, 30, 30, 0.14902) 0px 1px 3px 0px inset;
    opacity: 1;
}
.fieldHolder > select {
    font-size: 16px;
}
.groupHolder > .fieldHolder > input[type="text"] {
    width: 207px;
    font-size: 13px;
}
.contractionHolder {
    margin-top: 18px;
}
.contractionHolder > select {
    font-size: 16px;
    margin-left: 0px!important;
}


.addNewGroupButton{
    background: white;
    height: 26px;
    width: 26px;
    text-align:center;
    line-height: 26px;
    font-size: 24px;
    text-decoration:none!important;
    display: inline-block;
    border: 2px solid rgb(160, 160, 160);
    border-radius: 20px;
    cursor: pointer;
    font-family: Helvetica;
}
div.fieldHolderAddNewGroup {
	line-height:30px;
	height:30px;
	width: auto;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid rgb(174, 174, 174);
    border: 2px solid rgb(174, 174, 174);
    /* border-right: 1px solid rgb(174,174,174); */
    background-color: rgb(247, 247, 247)!important;
    background-color: #dfdfdf!important;
    display: inline-block;
    margin-left: 0;
    margin-top: 20px;
    cursor: pointer;
    -webkit-transition: background-color .12s, box-shadow .12s, -webkit-box-shadow .12s;
    transition: background-color .07s;
	padding:8px;
}
.fieldHolderAddNewGroup > .addNewGroupButtonText {
    display: inline-block;
    text-decoration: none;
    padding-left: 15px;
    font-size: 20px;
    padding-right: 15px;
    cursor: pointer;
}
div.fieldHolderAddNewGroup:hover {
    background-color: rgb(226, 237, 223)!important;
    background-color: rgb(247, 247, 247)!important;
}
#advancedSearchHolder > h2 {
    font-size: 19px;
    font-family: Lato, Helvetica;
}
.groupHolder > .removeButton:nth-of-type(3) {
    -webkit-border-radius: 0 5px 0 0;
    border-radius: 0 5px 0 0;
}
.fieldHolder.fieldHolderBottomOfGroup {
    padding: 0px!important;
    width: 858px;
    border-top: 1px solid rgb(174, 174, 174);
    background: rgb(254, 254, 254)!important;
}

.buttonRemoveThisGroupIcon {
    font-size: 55px;
    padding: 0px;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 54px;
    height: 54px;
    cursor: pointer;
    line-height: 46px;
    color: rgb(222, 83, 83)!important;
    text-decoration: none!important;
    /* text-shadow: rgba(0, 0, 0, 0.36) 1px 1px 0px; */
}
.buttonRemoveThisGroupIcon:hover{ 
}
div#buttonRemoveThisGroup.buttonRemoveThisGroup {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: rgb(247, 247, 247);
    opacity: 0.5;
    cursor: pointer;
    padding: 0px;
    display: inline-block;
    text-align: right;
    float: right;
    border-left: 1px solid rgb(169, 169, 169);
    -webkit-transition:opacity .14s;
    transition:opacity .14s;
}
div#buttonRemoveThisGroup.buttonRemoveThisGroup:hover {
    background-color: rgb(247, 247, 247);
    -webkit-box-shadow: rgba(30, 30, 30, 0.14902) 0px 1px 3px 0px inset;
    box-shadow: rgba(30, 30, 30, 0.14902) 0px 1px 3px 0px inset;
    opacity: 1;
}

#buttonRemoveThisGroup.buttonRemoveThisGroup > .buttonRemoveThisGroupText {
    display: inline-block;
    text-decoration: none;
    padding-left: 32px;
    font-size: 20px;
    padding-right: 15px;
    cursor: pointer;
    height: 38px;
    padding-top: 16px;
}


.regSearch_topSection {
    max-width: 550px;
    margin-top:8px;
    margin-bottom: 18px;
}

.regSearch_topSection label {
    display: inline-block;
    min-width: 114px;
    text-align: right;
    font-size: 13.5px;
    margin-right: 0px;
    margin-top: 7px;
    margin-bottom: 7px;
}

.regSearchTop_searchTypeRow > select {
    display: inline-block;
    font-size:16px;
    margin-bottom: 4px;
}

.regSearch_topSection input[type="text"]{
    display:inline-block;
    width: 226px;
    font-size:14px;
}

.regSearch_topSection input[type="submit"]{
    display:inline-block;
    font-size:16px;
    /* padding: 10px; */
    margin-left: 6px!important;
    cursor: pointer;
}

.regSearchTop_searchSimilarity {
    background: rgb(247, 247, 247);
    border-top: 1px solid rgb(169, 169, 169);
    border-bottom: 1px solid rgb(169, 169, 169);
}
.regSearchTop_advancedSearchButton {
    width: auto;     border-top: 1px solid rgb(174, 174, 174);     background: rgb(247, 247, 247);
}
.buttonAdvancedSearchText {
    display: inline-block; text-decoration: none; 
    padding-left: 5px; 
    font-size: 18px; 
    padding-right: 19px; cursor: pointer; 
    height: 31px; 
    padding-top: 14px;
    text-decoration: none!important;
}
.buttonAdvancedSearch {     -webkit-box-shadow: none;     box-shadow: none;     background-color: rgb(247, 247, 247);          cursor: pointer;     padding: 0px;     display: inline-block;     border-right: 1px solid rgb(169, 169, 169);          
    -webkit-transition: box-shadow .07s; 
    transition: box-shadow .07s;
}
.buttonAdvancedSearch:hover{
    background: rgb(249, 249, 249);
    -webkit-box-shadow: rgba(30, 30, 30, 0.14902) 0px 1px 3px 0px inset;
    box-shadow: rgba(30, 30, 30, 0.14902) 0px 1px 3px 0px inset;
}
span.paren{
	display:none!important;
}
#advancedSearchHolder .endParenHolder{
	display:inline-block!important;
}
#advancedSearchHolder .fieldHolder{
	display:inline-block!important;
	margin-left:0px!important;
}
.regSearchTop_searchTypeRow {
	padding-top: 5px;
	padding-bottom: 5px;
}