
body {
    font-family: sans-serif;
}

a {
    color: #369;
}

.note {
    width: 500px;
    margin: 50px auto;
    font-size: 1.1em;
    color: #333;
    text-align: justify;
}

#drop-area {
    border: 2px dashed #ccc;
    border-radius: 20px;
    width: 480px;
    margin: 50px auto;
    padding: 20px;
}

    #drop-area.highlight {
        border-color: #4285f4;
    }

p {
    margin-top: 0;
}

.dropForm {
    margin-bottom: 10px;
}

#gallery {
    margin-top: 10px;
}

    #gallery img {
        width: 150px;
        margin-bottom: 10px;
        margin-right: 10px;
        vertical-align: middle;
    }

.button {
    display: inline-block;
    padding: 10px;
    background: #ccc;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.container {
    width: 100%;
    background-color: white;
    border: solid darkgrey 1px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

    .container td + td {
        border-left: 2px solid gray;
    }

.row {
    width: 100%;
}

.col-6 {
    width: 49%;
    text-align:center;
}

.button:hover {
    background: #ddd;
}

#fileElem {
    display: none;
}
