#experimentForm {
	padding-top:0;
	}

.reactionBox {
	border:1px solid;
	border-color:#ccc #999 #999 #ccc;	
	}

.caseTable {
/*	border:2px solid #c9c9c9; */
	padding:0px!important;
	text-align:left;
}
.caseTable table{
	padding:0px!important;
}
.caseTableHeader{
	background-color:#c9c9c9;
	color:#cc2203;
	font-size:16px;
	font-weight:bold;
	padding:5px 0px 5px 4px!important;
}
.caseTableHeader a{
	background-color:#cc2203;
	padding:2px 6px 2px 6px!important;
	font-size:12px;
	color:#fff!important;
	border:1px solid #fff;
	text-decoration:none;
}
.caseTable table td{
	padding:2px;
}
.caseInnerTitle{
	font-size:12px;
	font-weight:bold;
	line-height:125%;
	background-color:#eee;
	border:1px solid white;
	padding:4px;
}
.caseInnerData{
	font-size:12px;
	border:1px solid white;
	padding:2px 10px 2px 4px!important;
	font-family:Arial,Helvetica,sans-serif;
	color:#4F5156;
}
.caseTable textarea{
	height:300px;
	font-size:12px;
	font-family:Arial,Helvetica,sans-serif;
	color:#4F5156;
}
.caseTable input,select{
	font-size:12px;
	font-family:Arial,Helvetica,sans-serif;
	color:#4F5156;
}
.caseSearchResultTD{
	font-size:12px;
	padding:2px 10px 2px 4px!important;
}

#statusEdit{
	font-size:12px;
	font-family:Arial,Helvetica,sans-serif;
	color:#4F5156;
}
#statusEdit select option{
	padding-right:10px;
}
.tabs ul{
    list-style-type:none;
}

.unitsDiv{
	position:absolute;
	background-color:white;
	border:2px solid gray;
	color:black;
	z-index:100;
	padding:0px;
	margin:0px;
	top:8px;
}

.unitsDiv ul{
	list-style-type:none;
	margin-left:0px;
	padding:0px;
	margin:0px;
}

.unitsDiv a{
	display:block;
	/*width:20px;*/
	text-align:right;
	text-decoration:none;
	padding:0 8px 0px 8px;
	border:0px;
	cursor:none;

}

.unitsDiv li a:hover{
	background-color:#ccc;
}

.unitsDiv a.selectedLink{
	background-color:#ccc;
}

/*
//////////////////Buttons
*/

.buttonHolder a {
	float:right;
	}
/* DEPRECATED - NOW STANDARD BUTTONS USED - in emergencey break glass
.buttonHolder a {
	background-color:black;
	text-align: center;
	margin:0!important;
	text-decoration: none!important;
	color: #fff!important;
	font-weight: bold;
	display:block;
	height:24px;
	padding-top:4px;
	padding-left:8px;
	padding-right:8px;
	width:100px!important;
	margin-left:10px!important;
	float:right;
	border-right:2px solid #cfcfcf;
}

.buttonHolder a:hover {
color:#000;
background-color:#fff;
background-image:url(/images/bg_topNav.gif);
background-repeat:repeat-x;
}

.buttonHolder a:visited {
color:#fff;
}

*/

.createExperimentDiv{
	padding:15px;
}
.createLink{
	margin:0px 0px 0px 40px;
}

.notebookCreator{
	display:block;
}

.notebookCreatorTitle{
	font-weight:bold;
}

#deleteForm{
	display:inline;
}

.deleteObjectLink{
	text-decoration:none!important;
	font-size:10px;
	color:blue!important;
	background-color:none!important;
	background-image:none!important;
	border-right:0px!important;
	display:inline!important;
	font-weight:normal;
	padding-left:2px!important;
}

.searchToggleLink{
	text-decoration:none!important;
}

#qv_body_container input{
	background-color: transparent;
	border: none;
	color: #555;
	box-sizing: border-box;
	font-size: 16px;
	margin: 1px;
	width: 100%;
}

#qv_body_container input:not([disabled]):hover, #qv_body_container input:not([disabled]):active, #qv_body_container input:not([disabled]):focus{
	border: 1px solid #555555;
	background-color: white;
	border-radius:4px;
	margin: 0px;
}