@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url(lato_700.eot);
  src: local('Lato Bold'), local('Lato-Bold'), url(lato_700.eot) format('embedded-opentype'), url(lato_700.woff) format('woff');
}