
.tabs{
	padding:0px!important;

	}

.tabs a {

background-image:url(/images/bg_topNav.gif);
background-repeat:repeat-x;

	font-size:80%;
	background-color:#99A1AF;
	text-align: center;
	margin:0!important;
	text-decoration: none;
	color: #000;
	font-weight: bold;
	display:block;
	height:24px;
	padding-top:4px;
	padding-left:8px;
	padding-right:8px;
	border-right:2px solid #cfcfcf;
}

.tabs input{
	display:inline;
}
.gridTabDiv {

background-image:url(/images/bg_topNav.gif);
background-repeat:repeat-x;

	background-color:#99A1AF;
	text-align: center;
	margin:0!important;
	text-decoration: none;
	color: #000;
	font-weight: bold;
	display:block;
	height:24px;
	padding-top:4px;
	padding-left:8px;
	padding-right:8px;
	border-right:2px solid #cfcfcf;
	float:left;
}

.gridTabLimitSpan{
	position:absolute;
	font-size:70%;
	font-weight:bold;
	left:1px;
	top:-5px;
}

.gridTabDiv:hover {
	color:#000;
	background-color:#99A1AF;
	background-image:none;
	cursor:pointer;
}


.gridTabDiv:visited {
color:#fff;
}

.gridTabDiv.tabSelected {
	color:#000;
	background-color:#99A1AF;
	background-image:none;
}

.gridTabPencil{
	display:inline!important;
	background-image:none!important;
	background-color:transparent!important;
	border:none!important;
	width:12px;
}

.tabs ul {
	text-indent:0px;
	padding:0px;
	margin:0px;
}
.tabs ul li{
	float:left;
	list-style-type:none;
	position:relative;
}

.tabs h2 {
	background-color:#99A1AF;
	padding-left: 8px;
	padding-top:4px;
	padding-bottom:4px;
	margin:0!important;
	color: #000;
	font-weight: bold;
	font-size:100%;

/*	border-top: 5px solid white; */

}

.tabs a:hover {
	color:#000;
	background-color:#99A1AF;
	background-image:none;
}


.tabs a:visited {
color:#4f5156;
}

a.tabSelected {
	color:#000;
	background-color:#99A1AF;
	background-image:none;

/* border-top-color: #0583CC;
   background-color: #d9dee1;
   background-color: #5b707c; */

}


/* #########################################################################################*/




#nav * {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	}


#nav{
	float: right;
	display: inline;
	font-weight: bold;
	margin-top: 0px;
	width: 1100px;
	}

#nav ul#topNav{
	float: right;
	}

#nav, #nav ul {
	list-style: none;
	}
#topNav a {
	text-align: center;
	display: block;
	padding-top: 10px;
	height: 28px;
	width:164px;
	text-decoration: none;
	color: #fff;
	font-weight: bold;
	width:160px;

/*	border-top: 5px solid white; */

}

#topNav a:hover {
color:#000;
background-color:#fff;
background-image:url(/images/bg_topNav.gif);
background-repeat:repeat-x;

/* border-top-color: #0583CC;
   background-color: #d9dee1;
   background-color: #5b707c; */

}




#nav li {
	float: left;
	margin: 0;
	}

#nav li:hover, #menu li.hover {  
/*FIX FOR IE7 POPUP STICK ISSUE */
    position: static;  
}  

#nav li:hover a {  
/* KEEPS HOVER AFFECT ON ROLLOVER */
	color:#000;
	background-color:#fff;
	background-image:url(/images/bg_topNav.gif);
	background-repeat:repeat-x;
	}  


#nav li:hover li a {  
/* KEEPS HOVER AFFECT ONLY ON TOP ROLLOVER */
	color: #000;
	background-color:#fff;
	background-image:none;
	
	}  




#nav li ul {
	position: absolute;
	left: -999em;
	z-index: 5;
}

#nav li ul li{
	clear: both;
}

#topNav a.topNavOn {
	color: #121d22;
	background-color:#fff;
	background-image:url(/images/bg_topNav.gif);
	background-repeat:repeat-x;
	}



/*##############################################################*/
/* FIRST LEVEL NAV POPUPS */
/*##############################################################*/

#nav li ul li a{
	display: block;
	font-size:100%;
	width: 150px;
	padding-left: 14px;
	text-align: left;
	height: auto;
	background-color: #eeeeee;
	color: #5b707c;
	padding-bottom: 4px;
	padding-top: 4px;
	font-weight:bold;
	border-top:3px solid #dddddd;
	/*filter:alpha(opacity=95);
	-moz-opacity:0.95;
	opacity: 0.95;*/
	}

#nav li ul li a.top {
	border-top: 4px solid #89d22d;
	}

#nav li ul li a.bottom {
	border-bottom:4px solid #89d22d;
	}



#nav li ul li a:hover{
	background-color: #99A1AF;
	/*filter:alpha(opacity=95);
	-moz-opacity:0.95;
	opacity: 0.95;*/
	}

#nav li:hover ul {
	left: auto;
	}

#nav li:hover ul, #nav li.sfhover ul {
	left: auto;
	}

#nav .rightBorder {
	background-image: url(/images/onepixwhit.gif);
	background-repeat: no-repeat;
	background-position: 100% 2px;
	}

#nav li ul ul { /* third-and-above-level lists */
	margin: -1em 0 0 10em;
	}

#nav li ul li ul li a {
	/* third-and-above-level lists */
	color: #000;
}



#nav li:hover ul ul, #nav li.sfhover ul ul {
	left: -999em;
}

#nav li:hover ul, #nav li li:hover ul, #nav li.sfhover ul, #nav li li.sfhover ul {
	/* lists nested under hovered list items */
	left: auto;
}

/* PETER NEW  ##################################################### */
#sideNavSection {
	margin:10px 0;
	}

	#sideNavSection .navSectionBox  {
		background-color:#efefef;
		margin:10px 0;
		}


		#sideNavSection .navSectionBox .navSectionTitle, #sideNavSection.navSectionFooter  {
			font-size:100%;
			line-height: 130%;
			margin:0;
			padding:0 0 3px 3px;
			background-color:#fff;
			font-weight:bold;
			}
			#sideNavSection .navSectionTitle a {
				color: #121d22;
				text-decoration:none;
				}
			.navSectionTitle a:hover {
				text-decoration:none;
				}
			#sideNavSection .navSectionTitle a:hover {
				/*text-decoration:underline;*/
				}

						#sideNavSection ul {
							margin-top:4px;
							margin-left:3px;
							margin-bottom:0px;
							line-height:1px;
							}

						#sideNavSection li  {
							list-style:none;
							display: inline; 
							}

						#sideNavSection ul li a {
							display:block;
							font-size:85%;
							padding-left:15px;
							padding-bottom:5px;
							line-height:14px;
							color:#666;
							text-decoration: none;
							font-weight:normal;
							background-repeat:no-repeat;
							}

						#sideNavSection ul li a:hover, #sideNavSection ul li a.navSelected {
							color: #121d22;
							background-image:url(../images/navNugget.gif);
							background-position:0 2px;
							background-repeat:no-repeat;
							}

		#sideNavSection .navSectionTabAction {
					height:18px;
					min-width:197px;
					}
				#sideNavSection .navSectionTabAction a {
					display:inline;
					float:left;
					width:33%;
					min-width:70px;
					height:14px;
					padding:2px 0;
					font-size:75%;
					line-height:115%;
					color: #121d22;
					text-align:center;
					text-decoration:none;
					font-weight:bold;
					background-color:#ffffff;
					border-bottom:1px solid #ccc;
					}

				#sideNavSection .navSectionTabAction a:hover, #sideNavSection .navSectionTabAction a.active {				
					background-color:#efefef;
					border-bottom:none;
					width:33%;
					}

				#sideNavSection .navSectionTabAction a.newObject, #sideNavSection .navSectionTabAction a.newObject:hover  {
					background-color:#22B127;
					color:#fff;
					min-width:57px;
					width:calc(34% - 10px);
					}



		#sideNavSection .navSubSectionTabAction {
					height:12px;
					padding-bottom:3px;
					}
				#sideNavSection .navSubSectionTabAction a {
					display:inline;
					float:left;
					min-width:98px;
					width:calc(50% - 5px);
					height:12px;
					padding:2px 0;
					font-size:55%;
					line-height:12px;
					color: #121d22;
					text-align:center;
					text-decoration:none;
					font-weight:bold;
					background-color:#ccc;
					}

				#sideNavSection .navSubSectionTabAction a:hover, #sideNavSection .navSubSectionTabAction a.active {				
					background-color:#efefef;
					border-bottom:none;
					}

				#sideNavSection .navSubSectionTabAction a.newObject, #sideNavSection .navSubSectionTabAction a.newObject:hover  {
					background-color:#1EB242;
					color:#fff;
					width:57px;
					}

				.navSharedExperimentsMore{
					display:none;
				}

				.navMyExperimentsMore{
					display:none;
				}





		#sideNavSection .navSectionFooter {
			text-align:right;
			font-size:75%;
			height:13px;
			line-height:12px;
			padding:0px 4px 2px 0;
			margin:1% 0 0 0;
			}
				#sideNavSection .navSectionFooter a {
					text-decoration:none;
					color:#1EB242;
					font-weight: bold;
					}
				#sideNavSection .navSectionFooter a:hover {
					text-decoration:underline;
					}

		/* END PETER NEW  ##################################################### */
.navSectionTitle img{
	margin-left:5px;
}