	div#addStructureContainer {
		background-color:#DFDFDF;
			font-family: arial, helvetica, sans;
				font-size:12px;
		}

			#addStructureContainer div.objectBox {
				text-align:center;
				font-family: arial, helvetica, sans;
				font-size:12px;

				}

			#addStructureContainer .regInfoDiv {

				}

			#addStructureContainer .regInfoDiv label{

				}

				/*#addStructureContainer input {
					margin-top:0px 0 0 0;
					margin-left:12px;
					}*/


				input#addStructureName  {
					width:175px;
					}


				#addStructureContainer label {
					margin:0 0 0 8px;
					}


				#addStructureContainer .multiSaltDiv {
					margin-left:10px;
					}

				#addStructureContainer div.multiSaltDiv input.multiplicVal {
					width:40px;
					}
					
					#saltsDiv {
						margin-top:4px;
						padding:8px;
						background-color:#efefef;
						}
					
					
					#saltsDiv #saltsContainer a.newSalt {
						display:block;
						width:30px;
						font-size:10px;
						line-height:11px;
						height:11px;
						background-color:#1EB242;
						color:#fff;
						width:57px;

						text-decoration:none;
						padding:3px 2px;
						margin:3px 0;
						}

					 #saltsDiv #saltsContainer a.newSalt:hover {
						text-decoratiovn:underline;
						
						}

				#addStructureSubmit {
					margin-top:12px;	
					}


/*
JOSHH
*/

.registrationPage h1{
	margin-bottom:10px;
}

			.registrationPage img{
				border:2px solid #aaa;
			}

		.chemDrawWin {
				border:2px solid #aaa;
				width:400px;
				height:300px;
				}


		.registrationPage input[type=submit]{
				padding:4px;
				margin:5px;
				}

		.registrationPage input[type=button]{
				padding:4px;
				margin:5px;
				}

		.registrationPage input,.registrationPage select,.registrationPage label, .registrationPage textarea{
			display:inline;
			padding:4px;
			margin:5px;
			}
		select{
			display:inline;
		}

		#searchSubmit{
			margin-left:60px;
		}

.regTableNav td img{
	border:none;
}

.regMolTableHeader {
	height:10px;
	background-color:#AAA;
	border-collapse:collapse;
}

.regMolTableHeader td{
	padding:4px;
}

.regMolTableHeader td a{
	color:black;
	font-weight:bold;
	text-decoration:none;
}

.regMolTableHeader td a:visited{
	color:black;
	font-weight:bold;
	text-decoration:none;
}

.regMolTableHeader td{
	margin:0px;
}

.regMolTable{
background-color:white;
}

.regMolTable{
	border-spacing:0px;
}

.regMolTableRow td{
	padding:2px;
}

.regMetaData{
	margin-top:20px;
	margin-bottom:20px;
	background-color:#eee;
	padding:6px;
}

.saltsContainer{
	position:relative;
	margin-top:20px;
	margin-bottom:20px;
	background-color:#eee;
	padding:6px;
}

.regFieldName{
	padding-top:4px;
	padding-bottom:4px;
	font-weight:bold;
	margin-left:5px;
}

.regFieldData{
	padding-top:4px;
	padding-bottom:4px;
	margin-left:5px;
    word-break: break-all;
    display: inline-block;
    max-height: 200px;
}
.regSaltData{
	padding-top:4px;
	padding-bottom:4px;
	margin-left:5px;
    word-break: break-all;
}

.saltsContainer .inline{
	display:inline;
	margin-left:
}

a.greenNewButton {
	font-weight:bold;
	display:block;
	/*width:30px;*/
	font-size:10px;
	line-height:11px;
	height:11px;
	background-color:#1EB242;
	color:#fff;
	width:60px;

	text-decoration:none;
	padding:3px 2px;
	margin:3px 0;
	}

a.greenNewButton:hover {
	text-decoration:none;
	
	}



.regCustomFieldOptions fieldset{
	padding:4px;
	width:400px;
	margin-bottom:10px;
}

.regCustomFieldOptions input[type=checkbox]{
	margin-right:4px;
	margin-left:8px;
}


/*
INTEGRATED REG
*/
div.regIntegrated{
	float:left;
	position:relative;
}
.regIntegrated label{
	font-weight:bold!important;
	display:block!important;
}
.regIntegrated input{
	margin-left:15px;
}
.regIntegrated select{
	margin-left:15px;
}
.regIntegrated textarea{
	margin-left:15px;
}


/**  TYLER Changes **/

.sideBySidePages textarea, .sideBySidePages input[type="text"], .sideBySidePages input[type="password"], .sideBySidePages input[type="datetime"], .sideBySidePages input[type="datetime-local"], .sideBySidePages input[type="date"], .sideBySidePages input[type="month"], .sideBySidePages input[type="time"], .sideBySidePages input[type="week"], .sideBySidePages input[type="number"], .sideBySidePages input[type="email"], .sideBySidePages input[type="url"], .sideBySidePages input[type="search"], .sideBySidePages input[type="tel"], .sideBySidePages input[type="color"], .uneditable-input {
padding: 6px 5px;
text-indent: 1px;
border: 1px solid #BEBEBE;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
margin-top:0px;
margin-left:14px;
}

.control_label{
width: 182px;
float: left;
text-align: right;
margin-top:0px!important;
padding-top:5px!important;
margin-bottom:0px!important;

line-height:20px!important;
}

.control_label_textarea{
vertical-align:top!important;
padding-top:10px!important;
}

.reg_dropdown{
margin-left:14px;
min-width:242px;
}

/*.reg_textarea{
margin-left:14px;
margin-top:7px;
}*/


#addStructureContainer input {
width:230px;
}

#addStructureSubmit{
width:190px;
} 

/* tyler display page*/

.item span:nth-child(1){
/* background: rgb(74, 193, 151); */
width: 174px;
display: inline-block;
text-align: right;
padding-right: 4px;
}


.item div:nth-child(2){
display:inline-block;
}

.downloadButtonHolder{
display: inline-block;
margin-top: -2px;
vertical-align: middle;
}

	div#addStructureContainer {
		background-color:#DFDFDF;
			font-family: arial, helvetica, sans;
				font-size:100%;
		}

			#addStructureContainer div.objectBox {
				text-align:center;
				font-family: arial, helvetica, sans;
				font-size:100%;
				}

			#addStructureContainer .regInfoDiv {

				}

			#addStructureContainer .regInfoDiv label{

				}

				/*#addStructureContainer input {
					margin-top:0px 0 0 0;
					margin-left:12px;
					}*/


				input#addStructureName  {
					width:175px;
					}


				#addStructureContainer label {
					margin:0 0 0 8px;
					}


				#addStructureContainer .multiSaltDiv {
					margin-left:10px;
					}

				#addStructureContainer div.multiSaltDiv input.multiplicVal {
					width:40px;
					}
					
					#saltsDiv {
						margin-top:4px;
						padding:8px;
						background-color:#efefef;
						}
					
					
					#saltsDiv #saltsContainer a.newSalt {
						display:block;
						width:30px;
						font-size:10px;
						line-height:11px;
						height:11px;
						background-color:#1EB242;
						color:#fff;
						width:57px;

						text-decoration:none;
						padding:3px 2px;
						margin:3px 0;
						}

					 #saltsDiv #saltsContainer a.newSalt:hover {
						text-decoratiovn:underline;
						
						}

				#addStructureSubmit {
					margin-top:12px;	
					}


/*
JOSHH
*/

.registrationPage h1{
	margin-bottom:10px;
}

			.registrationPage img{
				border:2px solid #aaa;
			}

		.chemDrawWin {
				border:2px solid #aaa;
				width:400px;
				height:300px;
				margin-bottom: 30px;
				}


		.registrationPage input[type=submit]{
				padding:4px;
				margin:5px;
				}

		.registrationPage input[type=button]{
				padding:4px;
				margin:5px;
				}

		.registrationPage input,.registrationPage select,.registrationPage label, .registrationPage textarea{
			display:inline;
			padding:4px;
			margin:5px;
			}
		select{
			display:inline;
		}

		#searchSubmit{
			margin-left:60px;
		}

.regTableNav td img{
	border:none;
}

.regMolTableHeader {
	height:10px;
	background-color:#AAA;
	border-collapse:collapse;
}

.regMolTableHeader td{
	padding:4px;
}

.regMolTableHeader td a{
	color:black;
	font-weight:bold;
	text-decoration:none;
}

.regMolTableHeader td a:visited{
	color:black;
	font-weight:bold;
	text-decoration:none;
}

.regMolTableHeader td{
	margin:0px;
}

.regMolTable{
background-color:white;
}

.regMolTable{
	border-spacing:0px;
}

.regMolTableRow td{
	padding:2px;
}

.regMetaData{
	margin-top:20px;
	margin-bottom:20px;
	background-color:#eee;
	padding:6px;
}

.saltsContainer{
	margin-top:20px;
	margin-bottom:20px;
	background-color:#eee;
	padding:6px;
}

.regFieldName{
	padding-top:4px;
	padding-bottom:4px;
	font-weight:bold;
	margin-left:5px;
}

.regFieldData{
	padding-top:4px;
	padding-bottom:4px;
	margin-left:5px;
}

.saltsContainer .inline{
	display:inline;
	margin-left:
}

a.greenNewButton {
	font-weight:bold;
	display:block;
	/*width:30px;*/
	font-size:10px;
	line-height:11px;
	height:11px;
	background-color:#1EB242;
	color:#fff;
	width:60px;

	text-decoration:none;
	padding:3px 2px;
	margin:3px 0;
	}

a.greenNewButton:hover {
	text-decoration:none;
	
	}

.regCustomFieldOptions input[type=checkbox]{
	margin-right:4px;
	margin-left:8px;
}


/*
INTEGRATED REG
*/
div.regIntegrated{
	float:left;
	position:relative;
}
.regIntegrated label{
	font-weight:bold!important;
	display:block!important;
}
.regIntegrated input{
	margin-left:15px;
}
.regIntegrated select{
	margin-left:15px;
}
.regIntegrated textarea{
	margin-left:15px;
}


/**  TYLER Changes **/

.sideBySidePages textarea, .sideBySidePages input[type="text"], .sideBySidePages input[type="password"], .sideBySidePages input[type="datetime"], .sideBySidePages input[type="datetime-local"], .sideBySidePages input[type="date"], .sideBySidePages input[type="month"], .sideBySidePages input[type="time"], .sideBySidePages input[type="week"], .sideBySidePages input[type="number"], .sideBySidePages input[type="email"], .sideBySidePages input[type="url"], .sideBySidePages input[type="search"], .sideBySidePages input[type="tel"], .sideBySidePages input[type="color"], .uneditable-input {
padding: 6px 5px;
text-indent: 1px;
border: 1px solid #BEBEBE;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
margin-top:0px;
margin-left:14px;
}

.control_label{
width: 182px;
float: left;
text-align: right;
margin-top:0px!important;
padding-top:5px!important;
margin-bottom:0px!important;

line-height:20px!important;
}

.control_label_textarea{
vertical-align:top!important;
padding-top:10px!important;
}

.reg_dropdown{
margin-left:14px;
min-width:242px;
}

/*.reg_textarea{
margin-left:14px;
margin-top:7px;
}*/


#addStructureContainer input {
width:230px;
}

#addStructureSubmit{
width:190px;
} 

/* tyler display page*/

.item span:nth-child(1){
/* background: rgb(74, 193, 151); */
width: 174px;
display: inline-block;
text-align: right;
padding-right: 4px;
}


.item div:nth-child(2){
display:inline-block;
}

.downloadButtonHolder{
display: inline-block;
margin-top: -2px;
vertical-align: middle;
}

/* 7.30.14 Overlapping Buttons Fix */
.showRegRecordContainer > a {
    width: auto; 
    display: inline-block; 
    background: #FDFDFD; 
    border: 1px solid #A4A4A4; 
    padding: 5px 8px 4px 8px; font-size: 12px;
    cursor: pointer;text-decoration:none;
    color: #000!important;
    margin-top: 0px;
}

.showRegRecordContainer > br {
    display:none
}

.registrationPage.sideBySideFields.compoundPage > .showRegRecordContainer > form:nth-of-type(2){
    position:relative;
    top:-50px;
    left:-18px;
}

.registrationPage.sideBySideFields.compoundPage > .showRegRecordContainer > table.experimentsTable{
	margin-top:13px
}

.registrationPage.sideBySideFields.compoundPage.noStructureCompoundPage > .showRegRecordContainer > form {
    margin-left:0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.registrationPage.sideBySideFields.compoundPage.noStructureCompoundPage > .showRegRecordContainer > div.regMetaData > form > .systemProperties {
    margin-bottom: 14px;
}

div#insideFieldsDiv > div {
    clear: left;
}

/* Multi fields */
div.multiHolder{
	display:inline-block;
}

.multiHolder img{
	border:0px;
	width:20px;
	height:20px;
	vertical-align:middle;
}

.multiHolder img.add{
	margin-left:5px;
	margin-bottom:5px;
}

.multiHolder img:hover{
	cursor:pointer;
}




#saltsContainer div {
    margin:3px;
}

/* END Multi fields */