iframe,input[type="submit"],input[type="button"],input[type="file"]{
	display:none;
}
h1{
	padding-bottom:10px;
}
#regId_view{
	line-height:30px;
}
#editStructureButton{
	display:none;
}
.parentLink{
	display:none;
}