.projContainer{
	border:none!important;
}
.contentTable{
	background-color:initial!important;
	width:auto;
	margin-left:0px;
	margin-right:0px;
}
.pageContent {
    width: auto;
}
.listTable tr td a{
	border:none;
}
body#framePage {
    min-width: initial!important;
}
.userIcons{
	background-image:initial;
}
