table#objectFieldsTable {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 860px;
    border-spacing: 0;
    border: none;
}

#objectFieldsTable .settingsRow > div {
    display: inline-block;
    vertical-align: top;
    margin-right: 25px;
}

#objectFieldsTable * {
    font-size: 15px;
    font-weight: 500;
}

#objectFieldsTable .settingsRow > div > label.css-label {
    font-size: 15px;
    margin-top: 1px;
}

#objectFieldsTable .settingsRow label {
    display: inline-block;
    vertical-align: top;
    margin-top: 3px;
    padding-right: 4px;
}

#objectFieldsTable .settingsRow {
    padding-top: 10px;
    padding-bottom: 10px;
}

#objectFieldsTable input[type="text"] {
    margin: 0;
}

#objectFieldsTable .settingsRow > div.fillWithDate > div {
    display: inline-block;
    padding: 0 4px;
    vertical-align: top;
    line-height: 26px;
}

#objectFieldsTable .settingsRow > div.fillWithDate > div.select-style {
    padding: 0;
}

#objectFieldsTable .settingsRow > div.fillWithDate > select {
    margin: 0;
}

#objectFieldsTable .settingsRow > div.fillWithDate > input[type="text"] {
    padding-left: 6px;
    width: 66px;
}

#objectFieldsTable td.detailsRowTD {
    box-shadow: inset 0 2px 13px -4px #000;
    -webkit-box-shadow: inset 0 2px 13px -4px #000;
}

#objectFieldsTable .advancedSettings.advancedSettings_left, .advancedSettings.advancedSettings_right {
    display: inline-block;
    width: 50%;
    box-sizing: border-box;
    vertical-align: top;
}

#objectFieldsTable tr.detailsRow[columnid="advancedSettings"] > td {
    padding-top: 8px;
    padding-bottom: 20px;
}

#objectFieldsTable .advancedSettings_javascriptContainer textarea {
    width: 90%;
    margin: 0 auto;
    display: block;
    height: 210px;
    padding: 9px;
    line-height: 17px;
    font-family: Consolas, monospace;
}

#objectFieldsTable .advancedSettings.advancedSettings_javascriptContainer label {
    padding-left: 28px;
    font-size: 17px;
    line-height: 35px;
}

.advancedSettings.advancedSettings_javascriptContainer {
    border-top: 1px solid #c7c7c7;
    margin-top: 15px;
}

#objectFieldsTable .settingsRow.lookupFieldMultiselects .addTheseRegFieldsContainer, 
#objectFieldsTable .settingsRow.lookupFieldMultiselects .columnsInTypeaheadContainer {
    margin-right: 0;
    width: 50%;
    box-sizing: border-box;
    padding: 2px 14px;
}

#objectFieldsTable .settingsRow.lookupFieldMultiselects .addTheseRegFieldsContainer label,
#objectFieldsTable .settingsRow.lookupFieldMultiselects .columnsInTypeaheadContainer label {
    padding-left: 5px;
}

#objectFieldsTable .settingsRow.lookupFieldMultiselects .addTheseRegFieldsContainer select,
#objectFieldsTable .settingsRow.lookupFieldMultiselects .columnsInTypeaheadContainer select {
    border-top: 2px solid #00b2ba;
    border-bottom: 2px solid #0db6bd;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    height: 250px;
}

#objectFieldsTable .settingsRow.lookupFieldMultiselects {
    padding-top: 5px;
}

#objectFieldsTable .settingsRow > div.fillWithDate > div.select-style select {
    width: 76px;
}

table.dropdownOptionsTable {
    width: 100%;
    border-spacing: 0;
}

table.dropdownOptionsTable thead th {
    text-align: left;
    padding: 0 5px;
    border-bottom: 1px solid #a2a2a2;
    line-height: 32px;
    background: #efefef;
}

table.dropdownOptionsTable select.conditionalFieldsDropdown, table.dropdownOptionsTable select.conditionalFieldsOptionsDropdown {
    width: 210px;
    margin: 0;
    border-top: 2px solid #00b2ba;
    border-bottom: 2px solid #00b2ba;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    margin-right: 0!important;
}

table.dropdownOptionsTable input[type="text"].optionIdInput, table.dropdownOptionsTable input[type="text"].optionValueInput {
    width: 160px;
}

table.dropdownOptionsTable tbody tr td {
    padding: 8px 3px 8px 0;
    border-bottom: 1px solid #a2a2a2;
}

table.dropdownOptionsTable .optionValueContainer, table.dropdownOptionsTable .optionIdContainer {
    padding-left: 10px;
}

table.dropdownOptionsTable td.removeOptionButton {
    background: url('../images/cross.png');
    background-size: 22px;
    background-repeat: no-repeat;
    background-position: 50%;
    box-sizing: border-box;
    width: 32px;
    height: 100%;
    cursor: pointer;
}

#objectFieldsTable .settingsRow.lookupSettingsRow {
    background: #efefef;
    border-bottom: 1px solid #a2a2a2;
    padding-top: 6px;
    padding-bottom: 6px;
    border-left: 1px solid #cbcbcb;
    border-right: 1px solid #cbcbcb;
}

#objectFieldsTable .settingsRow > div.lookupSourceApp div.select-style {
    width: 142px;
}

#objectFieldsTable .settingsRow > div.lookupSourceApp {
    width: 300px;
    margin-right: 0;
}

.objectFieldsTable .addOptionButton .addOptionButton_plus, .objectFieldsTable .addOptionButton .addOptionButton_text {
    display: inline-block;
    vertical-align: top;
}

.objectFieldsTable .addOptionButton {
    display: inline-block;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #ABABAB;
    padding: 6px 10px;
    background: white;
    cursor: pointer;
}

.objectFieldsTable .addOptionButton:hover {
    background: #EFEFEF
}

#objectFieldsTable.objectFieldsTable .addOptionButton .addOptionButton_plus {
    font-size: 32px;
    padding-right: 4px;
}

#objectFieldsTable .settingsRow.visibilitySettingsRow {
    text-align: center;
    padding-bottom: 12px;
}

#objectFieldsTable tr.detailsRow {
    display: none;
    background: #fdfdfd;
}

table#objectFieldsTable thead th {
    border-bottom: 2px solid #9E9E9E;
    padding: 3px;
    text-align: left;
    background: #eaeaea;
}

table#objectFieldsTable tbody tr td {
    border-bottom: 1px solid #a0a0a0;
    padding-bottom: 7px;
}

table#objectFieldsTable tbody tr.baseRow td.fieldNameCell {
    width: 210px;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
}

table#objectFieldsTable tbody tr td.fieldNameCell input[type="text"] {
    width: 185px;
}

table#objectFieldsTable tbody tr td .keyValuePair label {
    font-size: 11px;
    color: #797979;
    line-height: 10px;
    margin-top: 0;
    margin-bottom: 2px;
    padding-left: 3px;
    padding-right: 3px;
    white-space: nowrap;
}

table#objectFieldsTable tbody tr td .keyValuePair span {
    padding: 0 9px;
    color: #424242;
    font-size: 15px;
    display: inline-block;
}

table#objectFieldsTable tbody tr.baseRow td {
    padding: 0;
}

table#objectFieldsTable tbody tr td .keyValuePair {
    padding: 3px 0;
    display: none;
}

table#objectFieldsTable tbody tr td .keyValuePair.makeVisible {
    display: block;
}

table#objectFieldsTable tbody tr td .noLookup {
    display: none;
    text-align: center;
    color: #8e8e8e;
    font-size: 13px;
}

table#objectFieldsTable tbody tr td .noLookup.makeVisible {
    display: block;
}

#objectFieldsTable tr.detailsRow.makeVisible {
    display: table-row;
}

#objectFieldsTable tr.detailsRow[columnid="basicSettings"] td.detailsRowTD {
    padding-left: 124px;
}

#objectFieldsTable tr.detailsRow[columnid="formVisibilitySettings"] td.detailsRowTD {
    padding-left: 120px;
    padding-top: 7px;
}

#objectFieldsTable .advancedSettings.advancedSettings_left {
    padding-left: 35px;
}

table#objectFieldsTable tbody tr.baseRow td.fieldNameCell {
    border-left: 1px solid #cbcbcb;
}

table#objectFieldsTable tbody tr.baseRow td.formVisibilitySettingsCell {
    border-right: 1px solid #cbcbcb;
}

table#objectFieldsTable table.dropdownOptionsTable thead th:first-of-type {
    border-left: 1px solid #cbcbcb;
}

table#objectFieldsTable table.dropdownOptionsTable thead th:last-of-type {
    border-right: 1px solid #cbcbcb;
}

table#objectFieldsTable table.dropdownOptionsTable thead th {
    padding-left: 14px;
}

table#objectFieldsTable tbody tr td.expandedCell {
    background: #ececec;
    border-bottom: 3px solid #00b2ba;
    border-bottom-color: #00b2ba;
}

table#objectFieldsTable > tbody > tr > td {
    border-right: 1px solid #d2d2d2;
}

table#objectFieldsTable > thead > tr > th {
    font-size: 14px;
    padding: 10px 3px 6px 8px;
}

table#objectFieldsTable > tbody > tr.baseRow > td .shortlist {
    padding: 3px 6px;
    font-size: 12px;
}

.formVisibilitySettingsCell .visibilitySettingNugget {
    border: none;
    padding: 0;
    text-align: center;
    width: 80px;
    margin: 3px 2px;
    line-height: 20px;
    cursor: default;
}

.formVisibilitySettingsCell .visibilitySettingNugget[visibilitysettingname="add"] {
    border-color: green;
    background-color: #e2f5e2;
}

.formVisibilitySettingsCell .visibilitySettingNugget[visibilitysettingname="view"] {
    border-color: #001d80;
    background-color: #dee0e7;
}

.formVisibilitySettingsCell .visibilitySettingNugget[visibilitysettingname="edit"] {
    border-color: #a9a879;
    background-color: #f2f0a6;
}

.formVisibilitySettingsCell .visibilitySettingNugget[visibilitysettingname="conditional"] {
    border-color: #ec9e59;
    background-color: #f0c095;
}

.editTemplateBottomButtons > div {
    display: table-cell;
    width: 50%;
}

.editTemplateBottomButtons {
    display: table;
    width: 860px;
}

.editTemplateBottomButtons > div > button, .editTemplateFieldGroupsBottomButtons > div > button, button.reorderFieldsButton, .objectFieldsLabelPrintingSettingsBottomButtons > div > button {
    border: 1px solid #ABABAB;
    padding: 6px 10px;
    font-size: 15px;
    background: white;
    cursor: pointer;
}

.editTemplateBottomButtons > div > button:hover, .editTemplateFieldGroupsBottomButtons > div > button:hover, button.reorderFieldsButton:hover {
   background: #EFEFEF
}

.editTemplateBottomButtons > div.editTemplateBottomButtons_saveObject {
    text-align: right;
}

table#objectFieldsTable tbody tr.baseRow td.rightSpecialCell .removeFieldButton, table#objectFieldsGroupingTable tbody tr td .removeGroupButton {
    border: none;
    width: 36px;
    height: 41px;
    background: url('../images/trashcan_1x.png');
    background-size: 24px;
    background-position: 50%;
    background-repeat: no-repeat;
    cursor: pointer;
    padding: 6px 0;
    box-sizing: border-box;
}

#objectFieldsTable .settingsRow > div.multipleValues_minValues input[type="text"], #objectFieldsTable .settingsRow > div.multipleValues_maxValues input[type="text"] {
    width: 24px;
    text-align: center;
}

#objectFieldsTable .settingsRow.multipleValuesSettingsRow {
    border-top: 1px solid #c7c7c7;
    width: 606px;
    text-align: center;
}

#objectFieldsTable .settingsRow.multipleValuesSettingsRow > div:last-of-type {
    margin-right: 0;
}

table#objectFieldsGroupingTable {
    width: 520px;
    margin-top: 0;
    margin-bottom: 20px;
    border-spacing: 0;
}

table#objectFieldsGroupingTable tbody tr td, table#objectFieldsLabelPrintingSettingsTable tbody tr td {
    border-left: 1px solid #cbcbcb;
    border-bottom: 1px solid #cbcbcb;
}

table#objectFieldsGroupingTable tbody tr td:last-of-type, table#objectFieldsLabelPrintingSettingsTable tbody tr td:last-of-type {
    border-right: 1px solid #cbcbcb;
}

table#objectFieldsGroupingTable .noFieldGroupsMessage {
    text-align: center;
    padding: 12px 8px;
    background: #fff;
}

table#objectFieldsGroupingTable thead th, table#objectFieldsLabelPrintingSettingsTable thead th {
    background: #eaeaea;
    border-bottom: 2px solid #9e9e9e;
    text-align: left;
    line-height: 32px;
    font-size: 14px;
    font-weight: 500;
    padding: 10px 3px 6px 8px;
}

table#objectFieldsTable tbody tr td.fieldNameCell div.fieldGroupSelectContainer {
    margin-left: 9px;
    margin-top: 5px;
    width: 167px;
}

table#objectFieldsGroupingTable tbody tr td[columnname="delete"] {
    width: 40px;
    text-align: center;
}

table#objectFieldsGroupingTable tbody tr td[columnname="numberOfFields"] {
    width: 100px;
    text-align: center;
}

table#objectFieldsGroupingTable tbody tr td[columnname="groupName"] input[type="text"] {
    font-size: 15px;
    font-weight: 500;
    width: 350px;
    padding: 2px;
    margin-left: 7px;
}

h1.editObjectType {
    margin: 0;
    border-bottom: 1px solid #838383;
    font-size: 21px;
    padding: 8px;
    display: block;
}

input#objectName.ax1-text {
    width: 400px;
    padding: 3px 8px;
}

label.checkboxLabel.css-label.objectSettingsCheckbox {
    font-size: 15px!important;
    font-weight: 500;
}

.objectIconRadioButtonContainer {
    display: inline-block;
    padding: 0 8px;
}

.objectIconRadioButtonContainer img {
    vertical-align: middle;
    margin-left: 3px;
}

.objectSettingsCheckboxesContainer {
    margin-top: 16px;
    margin-bottom: 16px;
    width: 450px;
    display: inline-block;
    vertical-align: top;
}

.objectAllowedGroupsUsersContainer {
    margin-top: 16px;
    margin-bottom: 16px;
    width: 400px;
    display: none;
    vertical-align: top;
}

.objectAllowedGroupsUsersContainer.makeVisible {
	margin-top: 16px;
    margin-bottom: 16px;
    width: 400px;
    display: inline-block;
	vertical-align: top;
}

.objectAllowedGroupsUsersContainer #groupListContainer {
    height: auto!important;
    max-height: 400px;
}

input[type=checkbox].css-checkbox + a + label.css-label {
    padding-left: 30px;
    height: 25px;
    display: inline-block;
    line-height: 25px;
    background-repeat: no-repeat;
    background-position: 0 0;
    font-size: 25px;
    vertical-align: middle;
    cursor: pointer;
    font-size: 16px;
}

input[type=checkbox].css-checkbox + a {
    font-size: 18px;
    vertical-align: top;
    display: inline-block;
    margin: 0;
    margin-top: 9px;
    padding-right: 7px;
    padding-left: 5px;
    width: auto;
}

input[type=checkbox].css-checkbox:checked + a + label.css-label {
    background-position: 0 -25px;
}

.objectAllowedGroupsUsersContainer.makeVisible .groupListUsers {
    margin-left: 49px;
}

.objectSettingsCheckboxesContainer .objectSettingsCheckboxes {
    padding-left: 15px;
}

.reorderFieldsPopup .reorderableFieldElement {
    text-align: left;
    padding: 6px 8px 6px 42px;
    background: url('../images/reorderGrabBars.png');
    background-repeat: no-repeat;
    background-position: 0 50%;
    background-size: 40px;
    border-bottom: 1px solid #e2e2e2;
    font-size: 20px;
    line-height: 24px;
    cursor: pointer;
}

.reorderFieldsPopup {
    max-height: 300px;
    overflow-y: scroll;
    padding: 0 6px;
    box-shadow: inset 0px 0px 14px -3px #000;
}

@media screen and (min-height: 700px){
    .reorderFieldsPopup {
        max-height: 450px;
    }
}

@media screen and (min-height: 800px){
    .reorderFieldsPopup {
        max-height: 550px;
    }
}

@media screen and (min-height: 1000px){
    .reorderFieldsPopup {
        max-height: 750px;
    }
}

@media screen and (min-height: 1200px){
    .reorderFieldsPopup {
        max-height: 950px;
    }
}

.reorderFieldsPopup .reorderableFieldElement:last-of-type {
    border-bottom: none;
}

.reorderFieldsButtonContainer {
    margin-top: 32px;
}

.reorderFieldsPopup .ui-state-highlight {
    height: 35px;
}

.objectFieldsTable .importOptionsContainer {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 10px;
}

.objectFieldsTable .importOptionsContainer .commonPoolDropdownsDropdownHolder {
    display: inline-block;
    vertical-align: bottom;
    margin-top: 13px;
    margin-right: 10px;
    margin-bottom: 3px;
    margin-left: 166px;
}

.objectFieldsTable .importOptionsContainer button.importOptionsFromCommonPoolButton {
    border: 1px solid #ABABAB;
    padding: 5px 10px;
    background: white;
    cursor: pointer;
    vertical-align: baseline;
    margin-right: 18px;
    line-height: 22px;
}

.objectFieldsTable .importOptionsContainer label.checkboxLabel.css-label {
    margin-top: 0;
    vertical-align: baseline;
}

table#objectFieldsTable tbody tr.baseRow td.rightSpecialCell {
    width: 36px;
}

table.objectFieldsTable.objectFieldsTable_commonPoolOfDropdowns tr.baseRow td.basicSettingsCell, 
table.objectFieldsTable.objectFieldsTable_commonPoolOfDropdowns tr.baseRow td.formVisibilitySettingsCell, 
table.objectFieldsTable.objectFieldsTable_commonPoolOfDropdowns tr.baseRow td.advancedSettingsCell, 
table.objectFieldsTable.objectFieldsTable_commonPoolOfDropdowns tr.baseRow td.lookupSettingsCell,
table.objectFieldsTable.objectFieldsTable_commonPoolOfDropdowns tr.baseRow td.fieldNameCell .fieldGroupSelectContainer,
table.objectFieldsTable.objectFieldsTable_commonPoolOfDropdowns tr.detailsRow td .importOptionsContainer,
table.objectFieldsTable.objectFieldsTable_commonPoolOfDropdowns tr.detailsRow table.dropdownOptionsTable thead tr th:nth-of-type(3),
table.objectFieldsTable.objectFieldsTable_commonPoolOfDropdowns tr.detailsRow table.dropdownOptionsTable thead tr th:nth-of-type(4),
table.objectFieldsTable.objectFieldsTable_commonPoolOfDropdowns tr.detailsRow table.dropdownOptionsTable tbody tr td:nth-of-type(3),
table.objectFieldsTable.objectFieldsTable_commonPoolOfDropdowns tr.detailsRow table.dropdownOptionsTable tbody tr td:nth-of-type(4) {
    display: none;
}
table.objectFieldsTable.objectFieldsTable_commonPoolOfDropdowns tr.detailsRow table.dropdownOptionsTable tbody tr td .optionValueInput,
table.objectFieldsTable.objectFieldsTable_commonPoolOfDropdowns tr.detailsRow table.dropdownOptionsTable tbody tr td .optionIdInput {
    width: 370px;
}
table#objectFieldsTable.objectFieldsTable.objectFieldsTable_commonPoolOfDropdowns tr.baseRow td.fieldNameCell .fieldNameTextBox {
    width: 300px;
    margin-left: 10px;
    margin-right: 10px;
}
.saveDropdownOptions {
    display: none;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #ABABAB;
    padding: 6px 10px;
    background: white;
    cursor: pointer;
    vertical-align: bottom;
}
.objectFieldsTable_commonPoolOfDropdowns .saveDropdownOptions {
    display: inline-block;
    float: right;
    margin-right: 12px;
    line-height: 20px;
}
.objectFieldsTable_commonPoolOfDropdowns .saveDropdownOptions:hover {
    background: #EFEFEF;
}
#objectFieldsTable tr.detailsRow.keepOptionsSynced .commonPoolDropdownsDropdownHolder, 
#objectFieldsTable tr.detailsRow.keepOptionsSynced .importOptionsFromCommonPoolButton,
#objectFieldsTable tr.detailsRow.keepOptionsSynced .addOptionButton {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    filter: alpha(opacity=40);
    -moz-opacity: .4;
    -khtml-opacity: .4;
    opacity: .4;
}
#objectFieldsTable tr.detailsRow .clickPreventionMask {
    display: none;
}
#objectFieldsTable tr.detailsRow.keepOptionsSynced .clickPreventionMask {
    display: block;
    position: absolute;
    background: transparent;
    width: 712px;
    height: 56px;
    z-index: 100;
}
#objectFieldsTable tr.detailsRow.keepOptionsSynced td.removeOptionButton {
    background-image: none;
    cursor: initial;
}

table.impactedFieldsTable {
    width: 100%;
    border: none;
    border-spacing: 1px;
    background: #000;
}

table.impactedFieldsTable thead th {
    background: #fff;
    line-height: 25px;
    background: #f1f1f1;
}

table.impactedFieldsTable tbody td {
    background: white;
    line-height: 20px;
    padding: 4px;
}

h3.impactedFieldsTableHeading {
    line-height: 38px;
}

.impactedFieldsDescription {
    font-size: 19px;
    margin-bottom: 6px;
}

table#objectFieldsTable.objectFieldsTable_commonPoolOfDropdowns tbody tr.baseRow td.disabledCommonPoolFieldTD {
    text-align: center;
    width: 70px;
}

table#objectFieldsTable.objectFieldsTable_commonPoolOfDropdowns tbody tr.baseRow td.disabledCommonPoolFieldTD label.css-label {
    padding-left: 25px;
    margin-top: 0px;
}

.objectFieldsTableTitle {
    margin-top: 40px;
    padding-left: 8px;
    font-weight: 600;
    line-height: 30px;
    font-size: 18px;
    color: #4E5252;
}

.labelPrintingSettingsLayoutDropdownContainer {
    background: #eaeaea;
    display: inline-block;
    width: 600px;
    padding: 12px 19px 0;
    text-align: center;
    box-sizing: border-box;
}

.labelPrintingSettingsLayoutDropdownContainer label {
    display: inline-block;
    padding-left: 0;
    vertical-align: top;
    margin-top: 5px;
}

.labelPrintingSettingsLayoutDropdownContainer .select-style {
    display: inline-block;
    margin-left: 12px;
    vertical-align: top;
}

table#objectFieldsLabelPrintingSettingsTable {
    border-spacing: 0;
    background: #eaeaea;
    width: 600px;
    margin-bottom: 20px;
}

table#objectFieldsLabelPrintingSettingsTable thead th {
    padding-top: 0;
    padding-left: 0;
    text-align: center;
}

table#objectFieldsLabelPrintingSettingsTable tbody tr td {
    text-align: center;
    padding: 6px 0;
    background: #f6f6f6;
}

table#objectFieldsLabelPrintingSettingsTable tbody tr td .select-style {
    display: inline-block;
}

