    .arxD_wrapper {
        width: 100%;
        height: 750px;
        border: 1px solid black;
        overflow: auto;
        position: relative;
    }
    
/* JQuery Sliders */    
    #arxD_rotationSlider {
        width:260px; 
        margin:15px;
    }
    
    #arxD_zoomSlider {
        width:260px; 
        margin:15px;
    }
    
    #arxD_linearZoomSlider {
        width:260px; 
        margin:15px;
    }
    
    
    #arxD_topNavbar .navbar-nav > li {
        padding-right: 20px;
    }
    
    #arxD_leftNav .navbar-nav > li {
        padding-right: 5px;
    }
    
    .htmlColorBox {   
        float: left;
        width: 20px;
        height: 20px;
        margin: 5px 5px 5px 5px;
        border-width: 1px;
        border-style: solid;
        border-color: rgba(0,0,0,.2);
    }

    #arxD_displayTabs li a, #displayEnzymeTabs li a { border-color: #333333; background-color:#A0A0A0; }
    #arxD_displayTabs li.active a, #displayEnzymeTabs li.active a { border-bottom-color: transparent; background-color:#CCCCCC ; font-weight: bold; }
    
    .td {
        height:20px;
    }
    
    .table {
        border-width: 1px;
        border-style: solid;
        border-color: rgba(0,0,0,.2);
    }
    
    .nav > li > a {
        position: relative;
        display: block;
        padding: 5px 5px;
        /*padding: 7px 25px;*/
    }
    
    .verticalLine {
        border-left: thin solid #ff0000;
        display:inline-block;
    }
    
    .arxD_well {
        background-color: #f5f5f5;
        border: 1px solid #e3e3e3;
        border-radius: 4px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
        margin-bottom: 2px;
        margin-top: 2px;
        /*min-height: 20px;*/
        padding: 10px;
    }
    
    .arxD_well > span > div{
        display:inline-block;
    }
    
    .arxD_well > span > label, .arxD_well > span > span {
        font-size: 14px;
        vertical-align: 16px;
    }

#arxD_menuBar {
    height: 40px;
    line-height: 100%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    box-shadow: 2px 2px 3px #666666;
    -webkit-box-shadow: 2px 2px 3px #666666;
    -moz-box-shadow: 2px 2px 3px #666666;
    background: #000000;
    border: solid 1px #000000;
    position: relative;
    z-index: 999;
  
    padding: -40px 0px -20px 0px;
    border-top-width: 0px;
}

#arxD_menuBar a {
  font-weight: bold;
  font-family: arial;
  font-style: normal;
  font-size: 12px;
  color: #E7E5E5;
  text-decoration: none;
  display: block;
  padding: 11px 15px 16px 0px;
  margin: 0;
  margin-bottom: 11px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  text-shadow: 0px 0px 0px #000000;
}

#arxD_menuBar a:hover, #arxD_menuBar a:focus {
	color:#fff;
}

#arxD_menuBar li:hover, #arxD_menuBar li:focus {
	color:gray;
}

* html #arxD_menuBar {
  height: 1%;
}
/* allow buttons to display on the same line */
.arxD_menuButton { display:inline-block; }

/* make button float on the right */
.arxD_menuButtonRight { position:relative; display:block; float:right; }

#arxD_MSLView {
    width: 100%;
    margin:0 auto;
}

#arxD_MSLView #arxD_leftNav, #arxD_MSLView #arxD_middle, #arxD_MSLView #arxD_rightNav {
    display:inline-block;
}


.arxD_left {
    width: 10%;
    border: 1px solid #FFFFFF;
    float: left;
}

.arxD_right {
    width: 10%;
    border: 1px solid black;
    float: right;
    height: 810px;
    overflow: auto;
}

.arxD_tab_content {
    width:79%;
    /*border: 1px solid blue;*/
    background:#FFFFFF;
    font-size:73%;
    line-height:normal;
}



/* begin css tabs */

ul#arxD_displayTabs { /* general settings */
    text-align: left; /* set to left, right or center */
    margin: 1em 0 0.2em 0; /* set margins as desired */
    font: bold 11px verdana, arial, sans-serif; /* set font as desired */
    border-bottom: 1px solid #333333; /* set border COLOR as desired */
    list-style-type: none;
    padding: 10px 10px 3px 10%; 
}

#arxD_displayTabs li, #arxD_displayEnzymeTabs  li{
    display: inline;
    padding: 0.2em;
}

body#arxD_mapViewTab li.arxD_mapViewTab, body#arxD_SequenceViewTab li.arxD_SequenceViewTab, body#arxD_LinearViewTab li.arxD_LinearViewTab, body#arxD_FeaturesViewTab li.arxD_FeaturesViewTab, body#arxD_EnzymesViewTab li.arxD_EnzymesViewTab,  #arxD_displayEnzymeTabs li.arxD_displayEnzymeLocTabs, #arxD_displayEnzymeTabs li.arxD_displayEnzymeLineTabs { /* settings for selected tab */
    border-bottom: 1px solid #fff; /* set border color to page background color */
    background-color: #A0A0A0; /* set background color to match above border color */
}

body#arxD_mapViewTab li.arxD_mapViewTab a, body#arxD_SequenceViewTab li.arxD_SequenceViewTab a, body#arxD_LinearViewTab li.arxD_LinearViewTab a, body#arxD_FeaturesViewTab li.arxD_FeaturesViewTab a, body#arxD_EnzymesViewTab li.arxD_EnzymesViewTab a, #arxD_displayEnzymeTabs li.arxD_displayEnzymeLocTabs a, #arxD_displayEnzymeTabs li.arxD_displayEnzymeLineTabs a { /* settings for selected tab link */
    background-color: #333333; /* set selected tab background color as desired */
    color: #555; /* set selected tab link color as desired */
    position: relative;
    top: 1px;
    padding-top: 4px; /* must change with respect to padding (X) above and below */
}

ul#arxD_displayTabs li a, ul#arxD_displayEnzymeTabs li a { /* settings for all tab links */
    padding: 3px 4px; /* set padding (tab size) as desired; FIRST number must change with respect to padding-top (X) above */
    border: 1px solid #333333; /* set border COLOR as desired; usually matches border color specified in #arxD_displayTabs */
    background-color: #A0A0A0; /* set unselected tab background color as desired */
    color: #666; /* set unselected tab link color as desired */
    margin-right: 0px; /* set additional spacing between tabs as desired */
    text-decoration: none;
}

#arxD_displayTabs li.active a, #arxD_displayEnzymeTabs li.active a {
    border-bottom-color: transparent;
    background-color: #CCCCCC;
    font-weight: bold;
}

ul#arxD_displayTabs a:hover , ul#arxD_displayEnzymeTabs a:hover{ /* settings for hover effect */
    background: #CCCCCC; /* set desired hover color */
}

/* end css tabs */

/* Left Menu */

dl> dt> dd> ul> li {
    /*padding: 0.2em;
    list-style-type: none;*/
}

.arxD_left #arxD_leftMenu {
    position: absolute;
    left: 1em;
    width: 10em;
}

.arxD_left #arxD_leftMenu dt {
    cursor: pointer;
    background: #A0A0A0;
    height: 20px;
    line-height: 20px;
    margin: 2px 0;
    border: 1px solid #333333;
    text-align: center;
    font-weight: bold;
}

.arxD_left #arxD_leftMenu dd {
    position: absolute;
    z-index: 100;
    left: 4em;
    margin-top: -1.4em;
    width: 10em;
    background: #A0A0A0;
    border: 1px solid #333333;
}

.arxD_left #arxD_leftMenu ul {
    padding: 2px;
    list-style-type: none;
}

.arxD_left #arxD_leftMenu li {
    text-align: left;
    font: bold 11px verdana, arial, sans-serif; /* set font as desired */
    height: 18px;
    line-height: 18px;
}

.arxD_left #arxD_leftMenu li a, #arxD_leftMenu dt a, #arxD_leftMenu dt span {
    color: #666;
    text-decoration: none;
    display: block;
}


/* end of left menu */

.arxD_right dt {
    background: #A0A0A0;
    height: 20px;
    line-height: 20px;
    margin: 0px 0px 0px 20px;
    border: 1px solid #333333;
    text-align: center;
    font-weight: bold;
    width: 10em;
}
.arxD_right dd {
    margin-left: -30px;
}

.arxD_right li, .arxD_right dt{
    font: bold 11px verdana, arial, sans-serif; /* set font as desired */
    height: 18px;
    line-height: 18px;
    color: #666;
    text-decoration: none;
    display: block;
}

.arxD_tab_content > .arxD_tab_pane {
    display: none;
}
.arxD_tab_content > .active {
    display: block;
}

/* JQUERY slider */
.ui-slider-horizontal .ui-slider-handle {
    top: -.2em;
    margin-left: -.6em;
    font-size: 80%;
    width: 28px;
    text-align: center;
    text-decoration: none;
}

.arxD_middle > div {
    display:none;
}

.arxD_middle > div:target {
    display:block;
}

/* Spinner Div */
#arxD_uploadSpinner {
    width: 100px;
    height: 100px;
    background-color: #f00;
    position: fixed;
    top: 50%;
    left: 50%;
}

#features , #displayEnzymeTabs{
    width: 100%;
}

table#features tbody tr:nth-child(odd), table#arxD_enzymesList tbody tr:nth-child(odd), table#arxD_enzymeLocTable tbody tr:nth-child(odd) , table#arxD_enzymeLinesTable tbody tr:nth-child(odd){
   background-color: #ccc;
}

table#feature td , table#displayEnzymeTabs td {
    text-align: left;
}

table#feature, table#displayEnzymeTabs { empty-cells: show; }

/** Enzymes Tab **/
#arxD_EnzymesViewTab {
    width: 100%;
    margin:0 auto;
}

#arxD_enzymesList th span {
    background: #A0A0A0;
    height: 18px;
    line-height: 18px;
    margin: 3px 0px 0px 0px;
    border: 1px solid #333333;
    text-align: center;
    font-weight: bold;
    width: 8em;
    
    font: bold 11px verdana, arial, sans-serif; /* set font as desired */
    color: #666;
    text-decoration: none;
    display: block;
}

#arxD_outerEnzymes tr td {
    vertical-align: top;
}

ul#arxD_displayEnzymeTabs { 
    text-align: left; 
    margin: 0 0 0 0; 
    font: bold 11px verdana, arial, sans-serif; 
    border-bottom: 1px solid #333333; 
    list-style-type: none;
    padding: 10px 10px 3px 10px; 
}

div#mCSB_1_container.mCSB_container {
    left: 0px;
}