#arxOneContainer>.invPopupDiv>form>label:nth-of-type(4)+span {
    -webkit-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
    width: 488px;
    box-sizing: border-box;
    margin-bottom: 0;
    border-top: none!important;
    border-left: none!important;
    border-bottom: none!important;
    padding: 7px 0 7px 7px;
    min-height: 34px;
}

#arxOneContainer>.invPopupDiv>form>label:nth-of-type(4) {
    -webkit-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
    border-bottom: none;
    min-height: 20px;
}

#arxOneContainer>.invPopupDiv>form>span {
    border-right: 1px solid #d1d1d1;
}

#arxOneContainer>.invPopupDiv>form>label:last-of-type {
    border-bottom: 1px solid #d1d1d1;
    -webkit-border-radius: 0 0 0 10px;
    border-radius: 0 0 0 10px;
}

#arxOneContainer>.invPopupDiv>form>span:nth-last-child(2) {
    border-bottom: 1px solid #d1d1d1;
    -webkit-border-radius: 0 0 10px 0;
    border-radius: 0 0 10px 0;
}